[2017-07-14 18:58] karthik opened #1 "Fix blog post listing"
Fix blog template

Hi @sckott,
Can you please take a look at fixing the blog post template? It's under `/themes/ropensci/layouts/_default/list.html`

Issues right now:
1. Authors are now showing up. We also need to be able to parse our existing yaml to list authors and also link to their affiliations.
2. Dates need to be formatted better.
3. Right now posts don't paginate. However, Hugo does have

[2017-07-14 18:59] karthik opened #2 "Automatically generate packages page from manifest"
Jeroen said he can figure this out

[2017-07-14 18:59] karthik opened #3 "Fix calendar"
On main page

[2017-07-14 19:00] karthik opened #4 "Contact form needs a submitter"
Does anyone know of a script/service that can send mail from the form? Right now the form is just a template and does not go anywhere. I could replace this with a typeform iframe as we have on our current website.

[2017-07-14 19:08] karthik opened #5 "Fix all miscellaneous links"
There are tons of links that go nowhere. We need to divide and conquer.

To begin with:
- [x] Code of conduct
- [x] Donate (needs to go to the right numfocus form)
- [x] Careers (remove the comm manager job and leave it to no open positions)
- [x] Contact (form needs fixing + links to GitHub)
- [x] Resources (we need to link up to stackoverflow, discuss etc) (scott)
- [x] Related (scott) see https

[2017-07-14 19:09] karthik opened #6 "Fix copy"
@stefaniebutland Can I leave this to you? Marcela has left a lot of placeholder text. We need to rewrite those bits.  We also need to get the new mission statement into the about page.

[2017-07-14 23:51] karthik opened #7 "Fix pictures in community page"
Besides Hadley, we need to replace the cats with real people, or screenshots/etc.

[2017-07-17 17:57] karthik opened #8 "Mobile view is borken"
@marulango

Page does not work on mobile browsers.

[2017-07-17 21:05] karthik opened #9 "Calendar does not work"
I've followed all the steps outlined here. I get as far as seeing an "authorize" button on the main page, but no events show up after that.

[calendar_integration_manual.pdf](https://github.com/ropensci/roweb2/files/1154002/calendar_integration_manual.pdf)

cc @marulango

[2017-07-18 20:10] #8 closed, assigned to marulango

[2017-07-19 20:10] #3 closed, assigned to karthik

[2017-07-22 01:11] sckott opened #10 "tutorials"

[2017-07-24 11:44] jeroen opened #11 "Syntax style"
I really like this style of syntax highlighting: http://www.data-imaginist.com/2017/Introducing-tidygraph/ .

The small font makes even mediums size chunks very readable. Let's steal this :)

[2017-07-26 00:34] karthik opened #12 "Code highlighting does not work"
Right now code highlighting works on individual lines but not on blocks of code.

[2017-07-26 00:45] karthik opened #13 "Pagination needs styling and better placement"
Right now it's at the top. Needs to be below the $x blog posts on each page. Pagination numbers also need some styling to stay in sync with the rest of the site.

[2017-07-26 00:45] karthik opened #14 "Authors need to link back to author URLs"
and special ones for the leadership team

[2017-07-30 17:15] karthik opened #15 "index does not work on iPad"
The index page does not work on an iPad. The image of the 3 women is staggered to the right, that one has to horizontal scroll to the right to see it. Same problem on an iPhone browser now that I checked too.

@marulango

[2017-08-01 23:16] #14 closed, assigned to sckott

[2017-08-01 23:18] sckott opened #16 "fix date format for blog posts"
wrong on list page and single pages

using `{{ .Date.Format "January 1, 2006" }}` right now

[2017-08-17 01:06] #15 closed, assigned to nobody

[2017-08-17 01:12] #9 closed, assigned to marulango

[2017-08-17 01:15] karthik opened #17 "Move all remaining blog posts"
This is for @sckott, @jeroen and myself to do. Move a post (follow the changes as shown in the current ones), commit in a branch and send a PR. Then check them off here.

---

- [ ] Magick 1.0: 🎩 ✨🐇 Advanced Graphics and Image Processing in R 15 Aug 2017
- [ ] Chat with the rOpenSci team at upcoming meetings 11 Aug 2017
- [ ] Unconf 2017: The Roads Not Taken 08 Aug 2017
- [ ] elastic - Elasticsear

[2017-08-17 01:17] karthik opened #18 "🔎 Issue with authors on the blog listing"
@sckott I see a trailing slash in the author list. I imagine this is because it is set to iterate through authors but with only one author it prints a `author,`.

[2017-08-17 01:17] karthik opened #19 "Tags in blog posts should go to a tag page"
Showing all other posts with same tag

[2017-08-17 05:53] karthik opened #20 "Line breaks in blog posts are not parsing"
New blog: https://new.ropensci.org/blog/2017/06/09/unconf17recap5/
old blog: https://ropensci.org/blog/blog/2017/06/09/unconf_recap_5.html

This must be a Hugo issue.

[2017-08-17 05:54] karthik opened #21 "Next and pre buttons are out of order."
e.g. https://new.ropensci.org/blog/page/2/

(See bottom of page)

![image](https://user-images.githubusercontent.com/138494/29397856-e4e128a2-82d5-11e7-88f9-b200bb0514d5.png)

[2017-08-17 09:43] #11 closed, assigned to nobody

[2017-08-17 09:55] jeroen opened #22 "What to do with old assets"
Lots of old blog posts have custom images and stuff which are saved in the [assets](https://github.com/ropensci/roweb/tree/master/assets/blog-images) folder in the old repo. Are we going to migrate those images to the new repo? Or update the src links in the posts to point to the old webserver?

[2017-08-22 01:36] #19 closed, assigned to nobody

[2017-08-22 01:37] sckott opened #23 "link to /tags page from Blog page?"
no link right now - should we add one ?

[2017-08-22 17:43] #16 closed, assigned to sckott

[2017-08-22 18:13] #1 closed, assigned to sckott

[2017-08-23 16:32] sckott opened #24 "remove tutorials sidebar on mobile when scrolling down, or altogether"
sidebar now hovers over the content & footer somehow gets thrown up top - not sure what's wrong

<img width="241" alt="screen shot 2017-08-23 at 9 29 53 am" src="https://user-images.githubusercontent.com/577668/29627062-a67b037a-87e5-11e7-83cf-fa085d97abbd.png">

[2017-08-23 16:42] sckott opened #25 "update resources page"
https://new.ropensci.org/resources/

[2017-08-23 18:02] sckott opened #26 "/related page proposal: just link out to various task views we have"
right now https://ropensci.org/related/ we have tables of diff. R pkgs that we don't make - this list was originally duplicated from our webservices task view - but now this related page is badly out of date with webservices task view.

proposal is to just link out to those task views - OR we could just remove this page

thoughts @jeroen @karthik

[2017-08-23 18:18] karthik opened #27 "Need to add date to blog post"
Below the author, as we see in the current blog posts.

[2017-08-23 22:17] #25 closed, assigned to sckott

[2017-08-23 22:19] #26 closed, assigned to nobody

[2017-08-23 22:20] #12 closed, assigned to nobody

[2017-08-23 22:23] sckott opened #28 "/technotes ?"
What are we doing about technotes?  is that at a separate url ?  or something else?

[2017-08-23 22:27] #27 closed, assigned to nobody

[2017-08-23 22:31] sckott opened #29 "blog summaries"
we may want to consider yihui's solution for blog post summaries

https://yihui.name/en/2017/08/hugo-post-summary/

[2017-08-24 10:42] jeroen opened #30 "Headers"
Part of the reason that our headers in the blog are huge is that the designer was using `<h3>` and `<h4>` html headers in her [design](https://github.com/rosadmin/website_branding/blob/master/rOpenSci-website/blog_single.html#L42) however we use `## blabla` in our markdown which get rendered into `<h2>` headers.

Perhaps there way to make hugo convert our `## subsection` markdown titles into `<h3>

[2017-08-24 12:02] #22 closed, assigned to nobody

[2017-08-24 12:13] jeroen opened #31 "Legacy redirects and proxy"
Netlify supports for both proxying or redirecting to arbitrary URLs using the [`_redirects`](https://github.com/ropensci/roweb2/blob/master/public/_redirects) file. This should make it easier to make sure our current URL's don't break. I have setup the following:

 - proxy `/assets/` to old server
 - redirect `/blog/blog/` to `/blog`

Anything else we need to add?

[2017-08-25 23:25] karthik opened #32 "404 page needs to be better."
![image](https://user-images.githubusercontent.com/138494/29735966-ff43a87c-89b1-11e7-98f0-1c15cc67831b.png)

[2017-08-31 22:34] sckott opened #34 ""getting started guide" link on packages page"
where is "getting started guide" supposed to link to? right now its just `#`

![screen shot 2017-08-31 at 3 34 09 pm](https://user-images.githubusercontent.com/577668/29948103-ee5f8d5a-8e61-11e7-83fe-c0116bdc7d39.png)

[2017-09-20 17:35] stefaniebutland opened #36 "Add About page to top level menu"
create About page at top level menu and move Contact down to bottom menus. Stef will write text for this

[2017-10-16 17:55] #36 closed, assigned to nobody

[2017-10-16 17:59] karthik opened #37 "Current plans"
Port blog posts over - @jeroen
tweak css page - @jeroen
Fix about page, main page @karthik
tutorials -@sckott

[2017-10-16 23:13] jeroen opened #44 "Italic font not working"
The footnotes in this post are completely messed up: https://new.ropensci.org/blog/2017/10/06/sholler_plan/

[2017-10-17 02:44] sckott opened #45 "magick tutorial"
@jeroen i can't build the magick vignette material b/c i have a version of libpng that is apparently too new, and i can't easily sort out how to downgrade

can you build it?

[2017-10-17 15:51] jeroen opened #49 "Atom Feed"
We don't have a feed generator yet I think?

[2017-10-17 15:58] stefaniebutland opened #50 "imgs missing in blog posts"
Does this relate to https://github.com/ropensci/roweb2/issues/22?

Example posts missing imgs:
- https://new.ropensci.org/blog/2017/10/02/hacktoberfest/
- https://new.ropensci.org/blog/2017/10/13/rprofile-david-smith/

[2017-10-17 16:05] stefaniebutland opened #51 "fix blog post formatting - intro box"
Need to improve formatting of intro text box used for selected posts:

Compare old vs new for same post for text starting "In this occasional series, ..."
https://ropensci.org/blog/blog/2017/10/13/rprofile-david-smith
https://new.ropensci.org/blog/2017/10/13/rprofile-david-smith/

This also affects these posts:
- https://new.ropensci.org/blog/2017/09/01/nf-softwarereview/
- `assertr` post

[2017-10-17 16:08] stefaniebutland opened #52 "fix blog post formatting - title and heading sizes same"
Example where same title and heading sizes looks awkward: https://new.ropensci.org/blog/2017/10/03/googlelanguager/

[2017-10-17 18:00] #49 closed, assigned to nobody

[2017-10-17 18:00] #50 closed, assigned to nobody

[2017-10-17 18:19] #45 closed, assigned to nobody

[2017-10-17 21:11] #32 closed, assigned to nobody

[2017-10-17 21:55] sckott opened #56 "packages page filters styling"
Looks like this on my iphone 5S on both chrome and safari

![img_0736](https://user-images.githubusercontent.com/577668/31691442-fb6a4bbc-b34a-11e7-857f-1b8007734e6a.PNG)

Preview for mobile on my chrome browser makes it look pretty good on most mobile options,

<img width="242" alt="screen shot 2017-10-17 at 2 54 46 pm" src="https://user-images.githubusercontent.com/577668/31691494-2650a8f8-b34b-

[2017-10-17 23:07] jeroen opened #58 "How to compile pcss"
Can @marulango or anyone else add a script to the `css` dir that shows how to compile the `pcss` files into css (and which npm packages we need for this)? I'd like to tweak the css a bit but I can't figure it out how to compile the thing.

[2017-10-17 23:31] #58 closed, assigned to nobody

[2017-10-18 00:00] #21 closed, assigned to sckott

[2017-10-18 00:08] sckott opened #59 "put blog post comments back into place"
both

- old ones, via disqus, and
- new ones, via our discussion forum

perhaps not too urgent

[2017-10-18 04:42] sckott opened #60 "div alert don't work"
e.g., at top of this post https://github.com/ropensci/roweb2/blob/master/content/blog/2017-10-13-rprofile-david-smith.md

i assume `<div class="alert alert-info" role="alert">` is a bootstrap thing. but i guess i don't see bootstrap in our css headers, are we using it?

[2017-10-18 04:45] #13 closed, assigned to nobody

[2017-10-18 17:10] sckott opened #62 "insecure content on some pages"
- community page: http://www.picshunger.com/wp-content/uploads/2014/04/1717.jpg and check if any others

[2017-10-18 17:10] jeroen opened #63 "Collaborators horizontal scroll broken"
https://new.ropensci.org/about/

[2017-10-18 17:12] sckott opened #64 "Maybe change submit tutorial page"
current page https://new.ropensci.org/submit_tutorial/ isn't ideal I think.

Maybe have diff. options for:

- submitting video (e.g,. screencast) that would go on our vimeo
- submitting new tutorial for a ropensci package, which may go on `ropensci.org/tutorials`, but may not if there already is one, since right now we only have 1 per package
- other option?

[2017-10-18 17:13] sckott opened #65 "link behind "resource list" on submit tutorial page broken"
here

<img width="903" alt="screen shot 2017-10-18 at 10 12 28 am" src="https://user-images.githubusercontent.com/577668/31732297-eaeea6b4-b3ec-11e7-96ef-09ad072437a4.png">

[2017-10-18 17:24] #59 closed, assigned to sckott

[2017-10-18 17:43] #28 closed, assigned to nobody

[2017-10-18 17:52] #34 closed, assigned to nobody

[2017-10-18 19:02] #44 closed, assigned to nobody

[2017-10-18 19:43] stefaniebutland opened #66 "how do I format table for http://communitycalls.ropensci.org/"
Can someone tell me how to format md here https://github.com/ropensci/commcalls/blob/master/README.md to make Community Calls table look good here http://communitycalls.ropensci.org/?

With that, I'll move all past calls to table

[2017-10-18 23:25] #37 closed, assigned to nobody

[2017-10-19 06:32] stefaniebutland opened #71 "is careers.html only page referring to info@rOpenSci.org?"
I only find "Don't see what you're looking for? Reach out to info@rOpenSci.org" on careers page https://new.ropensci.org/careers/.

Should that be there? We have contact form https://new.ropensci.org/contact/ that we could point to instead (?)

[2017-10-19 07:26] stefaniebutland opened #73 "what belongs on Use Cases page?"
I see that [Use Cases](https://new.ropensci.org/usecases/) page says "examples on our most popular packages"

Do our > 10 blog posts on onboarded software count as use cases and should we add them? (they're not necessarily most popular pkgs)

Is this a place we could list citations of our packages e.g. those that @sckott collects for rOpenSci News e.g. https://ropensci.github.io/biweekly/update-20

[2017-10-19 07:50] stefaniebutland opened #74 "broken/missing icon on Home"
At https://new.ropensci.org under Documentation, shows "e Use Cases". There used to be an icon where 'e' is

[2017-10-19 16:03] #74 closed, assigned to nobody

[2017-10-19 17:38] karthik opened #76 "Technotes has no padding on a medium sized screen"
Like an iPad. Hugs both margins at either end.

[2017-10-19 17:39] #66 closed, assigned to nobody

[2017-10-19 17:50] #71 closed, assigned to nobody

[2017-10-19 18:23] sckott opened #80 "collaborators images bunched together on mobile"
![img_0741](https://user-images.githubusercontent.com/577668/31787242-f64718e2-b4bf-11e7-9cc9-599f70196b5d.PNG)

[2017-10-19 19:08] karthik opened #82 "Post launch enhancements"
- Need a better Jekll theme for the community calls gh-pages
- Need a better Jekyll theme for the onboarding.ropensci.org page (basically the README on the repo)
- Need a generic unconf page (unconf.ropensci.org) generated from a repo or just a page on the website.

[2017-10-19 19:58] sckott opened #83 "blog posts to fix"
- http://localhost:1313/blog/2016/11/22/geospatial-suite/ fix colored labels
- http://localhost:1313/blog/2016/03/17/ropensci-geospatial-stack/ same as above
- footnotes in http://localhost:1313/blog/2015/06/03/baad/ not linking to anchors
- ...

[2017-10-19 20:49] stefaniebutland opened #84 "post-launch add people to About page"
On About page
- [ ] add Researchers section under Team. Include Dan Sholler, Nick Golding, new Fellows
- [ ] add Dan Katz to Collaborators
- [ ] add or subtract people to Collaborators based on criteria: "Our collaborators include Associate Editors of our open peer review system, people whose packages have been reviewed and onboarded to rOpenSci, reviewers of two or more packages, and others who h

[2017-10-19 21:15] karthik opened #85 "Weird lag in the community page image scroller"
After the first two images, it just stalls and has a blinding white band, before it cycles back to the first two images. All 7 images defined in the css (https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/css/slider.pcss#L75-L96) and have the corresponding images in the `img/community-scroll` folder.

[2017-10-19 21:18] karthik opened #86 "The small logo near footer is broken in landscape iPhone view"
In portrait view

![img_1760 3](https://user-images.githubusercontent.com/138494/31794785-51b218f4-b4d8-11e7-9ffd-b3a33d3122df.PNG)

In landscape view (broken)

![img_1761 3](https://user-images.githubusercontent.com/138494/31794789-5455928e-b4d8-11e7-9d2c-ebc283193ddd.PNG)

[2017-10-19 22:14] jeroen opened #89 "Test for dead links"
We need to test which pages/links on the old website no longer exist on the new one, and see which one of these are expected and which are errors.

Here is an [R script](https://gist.github.com/jeroen/9adac622543aed40bedecd5a76b20e6d) that will do this automatically.

[2017-10-20 00:29] #63 closed, assigned to marulango

[2017-10-20 00:30] #86 closed, assigned to marulango

[2017-10-20 00:53] stefaniebutland opened #90 "fix bullet formatting - fat bullets"
Bullets look very large here: https://new.ropensci.org/coc/ and look normal here: https://new.ropensci.org/about/

[2017-10-20 01:41] jeroen opened #91 "Dan Sholler still missing from about page"

[2017-10-20 01:42] #31 closed, assigned to nobody

[2017-10-20 17:41] #91 closed, assigned to nobody

[2017-10-20 17:42] #90 closed, assigned to nobody

[2017-10-20 17:59] stefaniebutland opened #92 "improve calendar content"
Upcoming events here https://new.ropensci.org/
- how do I add link to an event website
- how do I format event happening on a single day rather than span

[2017-10-20 18:14] stefaniebutland opened #93 "left-justify Community page text"
@marulango We want text left-justified here https://new.ropensci.org/community/
What css do I use to do this (I can copy stuff but am unfamiliar w css)

[2017-10-20 18:23] #93 closed, assigned to marulango

[2017-10-20 18:58] #85 closed, assigned to marulango

[2017-10-20 19:05] #51 closed, assigned to nobody

[2017-10-20 20:12] #76 closed, assigned to marulango

[2017-10-20 21:27] #89 closed, assigned to nobody

[2017-10-20 21:54] jeroen opened #96 "make repository public"
We need to make the repo public at some point so that ppl can contribute PRs.

[2017-10-20 22:15] #80 closed, assigned to marulango

[2017-10-21 00:47] stefaniebutland opened #97 "favicon diff from logo used elsewhere"
The website favicon looks cool as a hex, but we've used the green polygon logo ~everywhere else. Confusing to audience

[2017-10-21 17:20] karthik opened #98 "Use custom RSS feed template"
I see Hugo supports it: https://gohugo.io/templates/rss/

We'll need one for blog/technotes

[2017-10-24 16:32] #60 closed, assigned to nobody

[2017-10-24 16:33] #7 closed, assigned to nobody

[2017-10-24 16:33] #6 closed, assigned to stefaniebutland

[2017-10-24 16:33] #5 closed, assigned to nobody

[2017-10-24 16:33] #17 closed, assigned to nobody

[2017-10-24 16:34] #29 closed, assigned to nobody

[2017-10-24 16:34] #64 closed, assigned to nobody

[2017-10-24 18:18] #65 closed, assigned to nobody

[2017-10-24 18:20] #62 closed, assigned to nobody

[2017-10-24 18:20] #24 closed, assigned to nobody

[2017-10-24 18:31] #97 closed, assigned to nobody

[2017-10-24 18:37] stefaniebutland opened #100 "blog summary problem"
Blog summary text here https://ropensci.org/blog/page/4/ of post "Chat with the rOpenSci team at upcoming meetings" looks odd because it brings in text from table

Likely affects the 2 or 3 other posts like this one

[2017-10-24 18:38] #52 closed, assigned to nobody

[2017-10-25 07:26] #100 closed, assigned to nobody

[2017-10-25 07:32] stefaniebutland opened #103 "change /about/#leadership to /about/#team"
I had to change https://ropensci.org/about/#leadership to /about/#team in the ropensci-at-meetings posts. Does that need to be updated elsewhere in site (I don't know how to search for that)

[2017-10-26 19:24] jeroen commented on #98
Yes we should change the rss template so that the full content is included. This is important for aggregators that mirror the content, e.g. r-bloggers.

[2017-10-26 19:26] jeroen commented on #103
@stefaniebutland most text editors have a feature to find or replace in all files. In sublime text it is under `find > find in files` and there you can fill out a 'replace' field.

[2017-10-26 19:27] #96 closed

[2017-10-26 20:42] #18 closed

[2017-10-26 20:56] stefaniebutland commented on #103
Woohoo! squashed and merged this fix with above tip

[2017-10-26 20:56] #103 closed

[2017-10-30 17:18] cboettig opened #110 "Wow, beautiful! Can we make it easier to scroll through collaborators page?"
Congrats to everyone on the launch of the new website, it really looks stunning.

Minor issue here, but I was wondering if there was a way to make the collaborators a bit easier to scroll through? https://ropensci.org/about/#collaborators  The auto-advance is really slick and it's nice to keep seeing new faces along the bottom of a page as an accent to some other content, but it's pretty hard to b

[2017-10-30 17:41] stefaniebutland commented on #110
@cboettig Thanks for the immediate feedback! For majority of stuff I'm not able to make changes but I'll plus-one your suggestion to have people's beautiful faces appear before a bunch of text (e.g. the carousel currently associated with button that goes to Community Calls).

This launch was meant to be a sort of minimal viable product to finally get the site out there so I hope we can incorporate

[2017-10-30 21:26] stefaniebutland opened #112 "NumFOCUS requested to add their logo to footer"
Gina Helfrich requested we add NumFOCUS logo back to footer and change text ""rOpenSci is a fiscally sponsored project **of** NumFOCUS"
I attached two white logos here but that makes them invisible

![numfocus_ko_rgb_lores](https://user-images.githubusercontent.com/11927811/32196438-ea8dcbce-bd7d-11e7-9ad8-a4ef3638467d.png)
![numfocus_ko_rgb](https://user-images.githubusercontent.com/11927811/3219

[2017-10-31 17:12] jeroen opened #114 "Fix missing dates/titles for old posts"
If you [validate our RSS feed](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fropensci.org%2Findex.xml) it turns out there are a lot of posts which are missing a title or date. There are also a few other issues with old posts from @sckott

[2017-10-31 17:19] sckott commented on #114
yep, #83

[2017-10-31 18:41] agricolamz commented on #114
You know, for now, I've recieved 119 messages dated with 2042 :)

[2017-10-31 19:03] #112 closed

[2017-10-31 20:22] jeroen commented on #114
As a workaround I have [limited the RSS feed](https://github.com/ropensci/roweb2/commit/3fcf38478d8a1f4f2b4165799e14733c83f06d8e) to the most recent 50 articles. Thereby it won't throw parsing errors.

[2017-11-01 13:27] jeroen commented on #98
Fixed via https://github.com/ropensci/roweb2/commit/0a20f71790e01600844224ed18193afa2a5e3918

[2017-11-01 13:27] #98 closed

[2017-11-01 18:28] stefaniebutland commented on #110
@cboettig Karthik and I discussed this briefly and agreed that first we need to fix / clean up functionality of the site as is and we'll take into account changes to collaborators, community etc later when we review design-type things.

[2017-11-01 18:31] stefaniebutland opened #120 "add staff job titles to About"
Add job titles for staff members under our names https://ropensci.org/about/#team. Important so people can get perspective on team make-up

[2017-11-01 19:32] stefaniebutland commented on #84
@jeroen Karthik suggested I ask for your help to get this done (i.e. can you please do it when you have time?)
It's super important we get Dan Sholler up and Nick Golding. Karthik suggested a Researchers section under Team, using same format as Team

**Meet our Researchers**
picture (roweb/assets/blog-images/2017-06-30-postdoc-dan-sholler/dan-sholler.jpg)
Dan Sholler
Postdoc (= new badge?)

pictur

[2017-11-01 19:33] stefaniebutland commented on #84
@jeroen ...but I have an additional greedy proposal for listing people that I think is important but @karthik and @sckott should weigh in on before making changes

**Meet our Team**
I propose adding onboarding editors here and listing people in this order:
- staff
- editor = new badge; copy Maelle and Noam up here; add badge to Karthik and Scott
- leadership
- advisor
- alumnus

**Meet our Researc

[2017-11-01 19:58] stefaniebutland commented on #84
@jeroen Karthik and I are discussing this on another channel rn

[2017-11-11 07:10] sckott opened #126 "can't scroll side to side in code blocks"
on mobile and desktop (though not likely to be a problem on desktop) can't scroll side to side within a code block. is it something we can turn on easily?

[2017-11-13 01:27] stefaniebutland commented on #126
I reported this a while back but Jeroen pointed out you can click and scroll. Challenge is, it's really not obvious. Took me a while to re-remember how.

[2017-11-13 17:40] sckott commented on #126
okay, fine on desktop, but main problem is mobile,

@jeroen is there a way to scroll horizontally through code blocks on mobile?

[2017-11-16 06:47] stefaniebutland opened #130 "preview no longer working for 3 PRs"
@jeroen @karthik  requesting help. Preview of pull requests for 3 blog posts no longer working - takes me to Missing page.
- https://github.com/ropensci/roweb2/pull/128
- https://github.com/ropensci/roweb2/pull/127
- https://github.com/ropensci/roweb2/pull/125

This new PR previews as expected: https://github.com/ropensci/roweb2/pull/129
![screen shot 2017-11-12 at 3 20 22 pm](https://user-images.

[2017-11-16 08:54] jeroen commented on #130
It may be a temporary glitch in netlify. Can you try to push a new commit to #125 and wait for netlify to update and see if it has been fixed?

[2017-11-16 17:35] stefaniebutland commented on #130
working now (without me doing anything)

[2017-11-16 17:35] #130 closed

[2017-11-21 19:29] stefaniebutland opened #132 "superscripts in blog post references now broken?"
@marulango or @jeroen In this blog post, https://ropensci.org/blog/2017/10/06/sholler-plan/, references in the text are no longer superscripted, whereas I think they did appear superscripted when we first launched the new site.

![screen shot 2017-11-21 at 11 26 51 am](https://user-images.githubusercontent.com/11927811/33092420-f5d37636-ceae-11e7-9ac6-1ad30a0cbbb6.png)

[2018-01-15 18:41] stefaniebutland opened #139 "broken lingtypology blog post"
Just noticed two problems in this post: https://ropensci.org/blog/2017/05/16/lingtypology/

1. Image spaces are bland
2. Summary text is not rendered (other post summaries look ok)
![screen shot 2018-01-15 at 10 38 06 am](https://user-images.githubusercontent.com/11927811/34956931-367400d2-f9e0-11e7-90a4-323edd0ccbe0.png)

@sckott could you please check when you have time?

[2018-01-16 22:18] sckott commented on #139
will do

[2018-01-16 22:28] sckott commented on #139
@agricolamz Would it be possible to redo your blog post from May last year (See link above) with static images ? Then we can link out to a version with interactive images?

[2018-01-17 06:03] agricolamz commented on #139
Sure, during this week.

[2018-02-01 05:52] sckott opened #143 "Show icon for RSS feed for blog and technotes somewhere"
e.g.,

https://ropensci.org/blog/index.xml
https://ropensci.org/technotes/index.xml

Tag specific https://ropensci.org/tags/r/index.xml

[2018-02-13 03:13] karthik opened #147 "The line height in li elements is off"
It's smaller than that of a paragraph and that looks off. Also the spacing above and below headings is also quite inconsistent.

[2018-03-01 22:15] stefaniebutland opened #155 "keep record of past events from calendar"
Is there a way to comment out past events here instead of deleting them?https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/js/calendarJSON.js

Idea is to have minimal-effort record of past events rOpenSci has participated in, for reports for ex.

Karthik suggested "You can create a new page with a json table called past events and have that linked at the bottom of this table."

[2018-03-01 23:07] jeroen commented on #155
So this concerns the calendar showed here, right? https://ropensci.org/community/

[2018-03-02 00:11] stefaniebutland commented on #155
Yes

[2018-03-02 22:23] stefaniebutland opened #157 "upcoming events table is very low profile - almost hidden"
The Upcoming events table shows in two places on our site at the bottom of these pages
- https://ropensci.org/
- https://ropensci.org/community/
however there is no direct link to either of these, and no spot in the website footer for it. We try to duplicate this information in our public rOpenSci Google calendar (I think directly embedding it did not work)

The Upcoming events table on our site c

[2018-03-09 23:42] karthik commented on #4
We need to kill the form ASAP. It doesn’t send us the message and people are just talking into a void.

[2018-03-10 00:08] jeroen commented on #4
Let met try to make it work with netlify forms. One sec.

[2018-03-10 00:17] jeroen commented on #4
OK that works. https://github.com/ropensci/roweb2/commit/5e8803c5b13494abbd94e099c3b9e6fac21fef36 changes it to netlify native form submissions and we get a notification in slack and email. See https://app.netlify.com/sites/ropensci/settings/forms

[2018-03-10 01:17] jeroen commented on #4
Ugh reverted it. Somehow we are not seeing the textarea field even though it is posted for sure.

[2018-03-21 17:34] sckott opened #161 "Add note to packages page about JS blocking"
for https://ropensci.org/packages/ we should maybe add a note somewhere to notify users that if the table doesn't show up they may need to turn off JS blocking  - or are there other reasons the table wouldn't show up? @jeroen ?

[2018-03-21 17:39] jeroen commented on #161
Have we gotten complaints about this? JS blocking is pretty unusual. Almost no website these days works without JS so users that block JS will probably know what's the problem.

[2018-04-09 18:37] stefaniebutland opened #170 "reduce img sizes in patentsview blog post"
post: https://ropensci.org/blog/2017/09/19/patentsview/

[2018-04-09 21:26] stefaniebutland commented on #170
thanks for trying Scott - I know these images were ok before website update.

This is one for the list of things to resolve when we do next update I guess

[2018-04-11 17:53] noamross opened #172 "bullet CSS"
Something is odd with display of list items on the blog.  The bullets show up at the _last_ line of a list item (example below).  As far as I can tell, this has something to do with the fact that list items are wrapped in `<li><p>Text</p></li>` rather than just  `<li>Text</li>`.  Not sure if that means the CSS should change, or the way the markdown compiles should change, or something else.

<img

[2018-04-25 10:10] maelle commented on #30
Other header problem, I used `####` in https://deploy-preview-177--ropensci.netlify.com/blog/2018/04/26/rectangling-onboarding/ and see the long one "Digesting them and complementing them with Airtable data" looks bad because of the line break cc @stefaniebutland

[2018-04-25 10:55] maelle opened #178 "Delete stale/merged branches?"

[2018-04-26 07:24] maelle opened #181 "Blog post templates"
Should the README have a link to actual blog post md and Rmd templates? With blank topic id, and proper header format.

I had started working on templates in `rodev` cf https://github.com/ropenscilabs/rodev/blob/master/inst/templates/post_template.Rmd but they don't have blank topic and don't show one should use "###" for the Section headers.

Cc @stefaniebutland

[2018-04-26 07:45] maelle commented on #181
I'd be happy for the templates to live in this repo and to be downloaded by `rodev` by the way.

[2018-05-16 11:03] maelle opened #186 "Should the website description mention R for Search Engine Optimization"
I.e. should there be "R" in https://github.com/ropensci/roweb2/blob/master/config.toml#L39

No idea how big a difference it'd make

[2018-05-16 14:29] maelle commented on #186
Maybe "R packages and open tools" blablabla

[2018-05-16 14:37] sckott opened #187 "link to news.ropensci.org as old posts underneath subscribe section"
so people can easily find them

[2018-05-16 14:38] sckott opened #188 "link to technotes more visibly on /blog page"
right now pretty hidden in footer

[2018-05-17 06:08] maelle commented on #2
A few months later 😉 The currently produced big codemeta.json of all packages has keywords, derived from GitHub repo topics (and from keywords in DESCRIPTION for the only package that has them :grin: ).

* I need to add more GitHub repo topics over both organizations, and also more status badges.

* I'll soon write code to actually process the big codemeta.json into a table. That table will have s

[2018-05-17 06:10] maelle commented on #2
Also noting https://github.com/ropensci/roweb2/issues/56

[2018-05-17 06:49] maelle commented on #188
Also related to #143

[2018-05-17 07:09] maelle opened #189 "Embededded tweets in blog posts not clickable"
Cf e.g. https://ropensci.org/blog/2018/04/20/monkeydo/ (source https://github.com/ropensci/roweb2/blob/master/content/blog/2018-04-20-monkeydo.md )

[2018-05-17 07:18] maelle opened #190 "Check html before merging"
It has some issues again https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fropensci.org%2Findex.xml

Cf #114 opened by @jeroen

How could one re-validate it before publishing a blog post? Could it be part of automatic PR checks?

[2018-05-17 07:34] maelle commented on #189
Mmh I think it means we just need to not forgot to use Hugo short codes.

[2018-05-17 07:38] maelle commented on #189
Oops my use of a short code fixed the RSS feed issue but the tweet still doesn't look like a tweet.

[2018-05-17 07:39] maelle commented on #189
Could it be a Hugo version issue @jeroen ?

[2018-05-17 07:40] maelle commented on #189
Oh scrap that it's not very tweet-like but clickable, so I guess that's just a design thing, and probably a taste issue. Sorry Jeroen for the tagging.

[2018-05-17 07:40] #189 closed

[2018-05-17 08:11] maelle commented on #190
The current issues are "recommendations".

* For the tech note about icons in R, The problem is in https://github.com/ropensci/roweb2/blob/master/content/technotes/2018-05-15-icon.md#icons-in-r- where the img source is right near the header so _in_ the header in html which apparently isn't good for all RSS feed readers? I couldn't figure out how to remove the image from the header without making t

[2018-05-17 08:34] maelle commented on #190
There will be a second post with an iframe cf https://github.com/ropensci/roweb2/pull/184

[2018-05-17 09:15] maelle commented on #114
@jeroen I couldn't identify posts with missing title/date, had this been fixed?

[2018-05-17 09:17] maelle commented on #114
For the record

[code]

And the same for "technotes"

[2018-05-17 11:00] jeroen commented on #114
Yes I think it was fixed.

[2018-05-17 21:53] sckott commented on #73
Agree to link to citation data.

Agree to link to newsletter. Not sure the best way to use newsletter use case things on a new use cases page on our site. we probably don't want to overwhelm a user on the page. Maybe they could be grouped by package, and then only shown when you select a package or so?

Agree

Hmm, I don't think I will keep doing those tweets for every one :)

[2018-05-28 07:29] maelle opened #194 "Add unconf18 etc tags"
Instead of having only the "unconf" tag, have both "unconf" and "unconf-YY" tags? What do you think @stefaniebutland?

[2018-05-28 07:55] maelle opened #195 "How to add links to all 3 GitHub organizations"
Namely ropensci, ropenscilabs, ropensci-training.

[2018-05-28 13:09] #4 closed

[2018-05-30 18:02] stefaniebutland commented on #194
agreed.
Example1:
- unconf
- unconf18

Example2:
- unconf
- ozunconf17

[2018-05-30 18:08] maelle commented on #194
We might even be more efficient with some sort of google sheets.  Each row = a post. Then columns?? In any case the idea would then be to use the sheet to add all tags at once using the yaml package. This instead of opening each post.

[2018-05-30 18:09] maelle commented on #194
The sheet would be pre filled with current tags.

[2018-05-30 18:10] maelle commented on #194
Each tag = 1 column.

Would such a workflow make sense @stefaniebutland?

[2018-05-30 18:10] stefaniebutland commented on #194
sounds good. I know Scott has grabbed all tags for each post in past so part of that code is done

[2018-05-30 18:12] stefaniebutland commented on #194
I did want to update other blog post tags but didn't get to point of deciding what tags were best. We can either just update the unconf ones now, or discuss (slack call incl Scott too) how best to tag posts

[2018-05-30 18:13] maelle commented on #194
Well with that googlesheets workflow you can more easily add any tag in the future. Will look into it next week

[2018-05-30 18:15] maelle commented on #194
I want post tag adding to be as easy as GitHub repo topic adding

[2018-05-30 18:44] maelle commented on #194
It'd be launched by a function. Then the shiny app would need the local path to content/. Then there'd be an editable table pre-filled with yaml info. Then each time one would click on save it would edit the posts and re-load the table. When one is done one would commit and push (in a branch)

The tricky part will be to make the "table of some sort" user friendly (with a column per tag it risks be

[2018-05-30 18:46] maelle commented on #194
https://github.com/jrowen/rhandsontable

[2018-05-30 18:49] maelle commented on #194
The app should also allow creating new tags that have never been used yet.

[2018-05-31 15:33] maelle commented on #194
WIP https://github.com/ropenscilabs/blogyaml

[2018-05-31 15:35] maelle opened #197 "Make all tags lowercase"

[2018-06-04 05:53] maelle commented on #161
Should this be closed?

[2018-06-04 06:03] maelle commented on #190
Problems that are detected by the RSS feed validator include invalid links, so it'd be good to detect them right away. E.g. that's how I found https://github.com/ropensci/roweb2/commit/401433a815e458c391e313754667a813ffae586b

[2018-06-04 06:04] maelle commented on #194
Assigning myself until I have a good app to show you @stefaniebutland

[2018-06-04 06:29] maelle commented on #197
Actually from looking at the tags that seem to be synonyms here is what I actually want to do

* R/r -> R

* Package/package -> package

* github/GitHub -> GitHub

* Australia/australia -> australia

* Community/community -> community

* Conference -> conference

Note that the tags page https://ropensci.org/tags/ isn't case sensitive.

[2018-06-04 06:30] maelle opened #199 "Plural vs singular in tags"
E.g. packages vs package, databases vs database, meetings vs meeting.

Not entirely sure I see the need for this, but I haven't looked closely at corresponding blog posts.

[2018-06-04 06:42] maelle commented on #197
* text analysis/text-analysis -> text-analysis (the tag with the space doesn't appear on the tags page)

[2018-06-04 07:49] maelle commented on #197
[code]

[2018-06-04 08:30] maelle opened #201 "Why have an rOpenSci tag actually?"

[2018-06-04 08:32] #197 closed

[2018-06-04 13:17] maelle commented on #194
Now there's an app to use for this 😺

[2018-06-06 09:22] maelle commented on #20
I see this in unconf recaps too (GitHub link should be on a new line but isn't) :sob: cc @stefaniebutland in case you notice this in my recaps.

[2018-06-07 20:19] stefaniebutland commented on #194
https://github.com/ropenscilabs/blogyaml works like a charm. Tags added to all (I think) unconf blog posts: unconf, unconf14, unconf17, unconf18, ozunconf, ozunconf16, ozunconf17

[2018-06-07 20:19] #194 closed

[2018-06-15 12:24] maelle opened #213 "Onboarding landing page"
Via @noamross in https://github.com/ropensci/dev_guide/issues/16

"It's possible there should be a separate landing page which has just a few links to the book, the main repo issues, and maybe the sign up link, and maybe our packages page."

I guess this would include "**live dashboard of issues, using JS to pull the status of issues from GH.**".

I wonder what should become of the onboarding READ

[2018-06-20 11:27] maelle commented on #213
Dup of https://github.com/ropensci/onboarding-meta/issues/16

[2018-06-29 18:03] maelle opened #218 "Wishlist"
https://github.com/ropensci/wishlist

* Should it be linked from the community page?

* Should it be merged with https://github.com/ropensci/webservices/wiki/ToDo (so deleting that wiki part, and keeping only "scientific" webservices?)

* I'd be in favor of making all old unconf repos read-only after copying the text of "unsolved" ideas in new issues in the wishlist. Maybe only for the most recent

[2018-07-02 17:36] sckott commented on #218
no strong feelings on this. Could also direct people to our discussion forum instead

[2018-07-03 16:48] jeroen commented on #161
Yes this is silly.

[2018-07-03 16:48] #161 closed

[2018-07-03 16:50] jeroen commented on #147
Some of this might have been fixed in https://github.com/ropensci/roweb2/commit/b9ee8428804aef310ea01d320492c4cf63b0b1e4

[2018-07-09 05:58] maelle commented on #190
Renaming the issue to reflect the fact that what I want is finding various problems right away not just for the RSS feed.

I saw [this similar issue in tidyverse.org](https://github.com/tidyverse/tidyverse.org/issues/58), https://github.com/gjtorikian/html-proofer seems to be the tool to have a look at.

[2018-07-09 06:06] maelle commented on #190
- Real-life example https://github.com/gjtorikian/html-proofer#real-life-examples
- Not sure whether this uses Netlify https://github.com/travis-ci/docs-travis-ci-com
- Example of a GitHub repo with deployment from Netlify and html proofing https://github.com/cucumber/docs.cucumber.io

[2018-07-09 06:20] maelle commented on #157
At the moment there are 3 issues linked to the calendar #157 #155 #92, I've just added a label for easier browsing.

[2018-07-09 06:20] maelle commented on #155
At the moment there are 3 issues linked to the calendar #157 #155 #92, I've just added a label for easier browsing.

[2018-07-09 06:20] maelle commented on #92
At the moment there are 3 issues linked to the calendar #157 #155 #92, I've just added a label for easier browsing.

[2018-07-09 06:25] maelle opened #221 "Talks in resources page"
There are some slidedecks under "talks" in https://ropensci.org/resources/

* Should there be an effort to always add slidedecks or links to them there? By staff and anyone giving a talk about rOpenSci (onboarding editors and other "ambassadors")? If so, how should the workflow look like?

* Should https://github.com/ropensci/talks be deleted once https://github.com/ropensci/talks/tree/master/yvr-

[2018-07-09 18:58] maelle opened #222 "Link to the dev_guide chapter about contributing"
From the community page? Cc @stefaniebutland

[2018-07-09 18:58] maelle opened #223 "Resources for package users?"
Now the dev_guide has a chapter for new contributors, should the community page also include some resources for _users_?

It could include

- how to explore the packages suite
- how to ask for help, writing up @sckott's talk from a comm call https://scotttalks.info/qropensci/
- how to report use cases

Thoughts? Cc @stefaniebutland

[2018-07-09 19:20] maelle commented on #223
And there could be some sort of text about how users can be contributors

[2018-07-10 00:11] stefaniebutland commented on #221
Given the large number of meetings rOpenSci people speak at, I don't think it is worthwhile having a policy of always adding links to slide decks there. We *could* aim to keep examples of different types of talks e.g. general rOpenSci, software review, taxonomy suite.

I agree this is intimately linked with the calendar issues

[2018-07-10 00:17] stefaniebutland commented on #223
Some of this seems to fit in the [Contributing Guide](https://ropensci.github.io/dev_guide/contributingguide.html) itself because of the continuum from users to contributors e.g. reporting use cases. The community page could include some info for users and point to the guide

[2018-07-16 06:41] maelle commented on #10
Do we know how much traffic there's on that page by the way? Versus the packages page.

[2018-07-16 06:45] maelle opened #226 "In blog posts have tags at the top"
I wonder whether it'd be better to make tags visible at the top of each post (under the rest of the metadata) as opposed to at the bottom as is now the case.

[2018-07-16 06:45] maelle commented on #23
* Tags are indicated for each post but at the bottom of the page. I prefer tags at the top. #226

* There is a tags page but it is not linked from anywhere yet, right? Where should it be linked from?

* What would be the difference between an archive page and browsing the different pages of https://ropensci.org/blog/ ?

[2018-07-16 06:51] maelle commented on #73
We might need more structured metadata about packages then, keeping track of where they've been blogged about + in which papers they've been used.

But as a summary easier things mentioned in this thread are adding a link to the Twitter account, to the raw citation data and to the newsletter to the use cases page.

Maybe there could also be a blurb indicating how use cases are currently found, and

[2018-07-16 07:03] maelle commented on #84
I agree about adding fellows and non-onboarding collaborators. Is there already somewhere a list of people who contributed significant time and effort to rOpenSci, e.g. people who sat on committees? E.g. for the fellowships the committee was mentioned [in blog posts](https://ropensci.org/blog/2018/02/14/announcing-2018-ropensci-fellows/).

Reg onboarding I think editors should be added to the abou

[2018-07-16 18:45] stefaniebutland commented on #23
my impression is that archive page would have all posts in a single page (so you can search by ctrl-f, which I want to do VERY often, but can't) rather than having to click through diff pages of https://ropensci.org/blog/

[2018-07-16 18:50] sckott commented on #10
could look, haven't done so yet. i think there is quite a bit, i often see people linking to them or mentioning on twitter

[2018-07-16 18:53] sckott commented on #226
yeah, worth trying to see how it looks at least, and make sure we look on mobiile too

[2018-07-16 18:53] sckott commented on #23
right on archive page @stefaniebutland

[2018-07-16 18:55] sckott commented on #73
well, we can include how to report, but i think i've maybe had 1 or 2 instances where someone's reported a use case, it's almost entirely our job to do so i think :/

[2018-07-16 18:58] sckott commented on #84
not that I know of

yeah, could use url to github user if code related

[2018-07-16 19:12] maelle commented on #23
Ah right! Super useful! I have one on my own website 😁

[2018-07-17 10:59] privefl opened #227 "Can't search in table of packages"
At https://ropensci.org/packages/,
The table remains "Loading...".
When I check anything in FILTERS, the message becomes "No data available in table".

I'm using Mozilla Firefox for Linux Mint (Version 60.0.2 - 64 bits).

[2018-07-17 11:07] maelle commented on #227
Thanks for the bug report @privefl!

@jeroen is it something you have observed in the past?

The table works for me at the moment.

[2018-07-17 11:15] maelle opened #228 "Comm calls"
Opening this here because I don't dare messing with https://github.com/ropensci/commcalls issue tracker

* I like the landing page but would sometimes like to link to one call in particular so could we add anchors in the table?

* I don't think there's a clear link from the website, the paragraph in community doesn't reflect the fact that one can use resources from former comm calls.

[2018-07-17 17:33] jeroen commented on #2
We should discuss in the meeting what the plan is exactly. Should this replace @sckott https://github.com/ropensci/roregistry?

[2018-07-17 17:50] sckott commented on #2
Yes we should discuss. Yes, the plan is to generate packages page from this metadata, but it shouldn't be too different from how you have it setup now in that we'll run a cron job to generate the single json file and you can pull that in as you do know

[2018-07-17 17:50] sckott commented on #228
+1 on adding anchors

[2018-07-17 17:51] sckott commented on #227
@privefl you could open firefox inspector and see if any errors are being thrown there

[2018-07-17 17:54] jeroen commented on #227
@privefl are you using any adblockers or privacy badger that may block the external data source?

[2018-07-17 18:34] stefaniebutland commented on #199
I agree we should keep one form of each.
And we should probably add guidance to https://github.com/ropensci/roweb2#blog-post-editorial-suggestions

[2018-07-17 18:41] stefaniebutland commented on #181
Templates for blog post and tech notes and linked from README would be very helpful. Would prevent lots of questions!

[2018-07-17 19:09] stefaniebutland commented on #92
Underlying calendar issue is that it really should be re-done from the ground up, including consideration of where it should appear on our site for visibility/linkability

My current work-not-flow is:
- add an event to public rOpenSci Google cal
- add same item here: https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/js/calendarJSON.js to appear on our website calendar on /home

[2018-07-17 19:20] stefaniebutland commented on #82
💯need generic unconf page sooner rather than later. IMO ideal solution is to be a page on our website, but for now prob should create unconf.ropensci.org generated from a repo.

From Karthik Aug 2017:
- Highlights what the event is about
- How it works
- How to get involved
It could also include some generic information for sponsors. I moved the old repos (hackathon, unconf etc) to unconf14, uncon

[2018-07-17 20:51] stefaniebutland commented on #84
related issue for this discussion: #120

[2018-07-17 20:52] stefaniebutland commented on #120
Should discuss this as part of related issue #84

[2018-07-17 20:58] stefaniebutland commented on #155
See summary comment: https://github.com/ropensci/roweb2/issues/92#issuecomment-405694632

[2018-07-17 20:59] sckott commented on #199
yes, one of each sounds good

[2018-07-17 20:59] stefaniebutland commented on #157
See https://github.com/ropensci/roweb2/issues/92#issuecomment-405694632

[2018-07-17 21:48] privefl commented on #227
I'm using Adblock indeed. Disabling it fixes this issue.

[2018-07-17 21:48] #227 closed

[2018-07-18 05:21] stefaniebutland opened #229 "add author names to Tech Notes list?"
Since these are written by both staff and sometimes authors of onboarded software, I'd bet people would like to see their name beside the technote title in this list: https://ropensci.org/technotes/

[2018-07-18 06:05] sckott commented on #126
this definitely still seems like an issue or is it just me?

[2018-07-18 06:06] sckott commented on #229
yeah, probably, thoughts @jeroen (he designed this page)

[2018-07-18 11:17] maelle opened #231 "Date position on the blog landing page"
On https://ropensci.org/blog/ the date of each post is right after the author list which means it's not at the same position for all posts, and that sometimes the year and month are on different lines. It looks a bit messy in my opinion.

[2018-07-18 11:22] maelle opened #232 "No "read more" on the blog landing page"
It's quite intuitive to click on the blog post title, but still, it's a bit weird not to have a "read more" button.

[2018-07-18 11:24] maelle opened #233 "Use a green hex as favicon?"
* Because we give the green hex as sticker

* Because this way the green buttons (tags for instance) that are on the website would have some green company.

[2018-07-18 17:00] sckott commented on #232
can you show eg of what you're thinking about?

[2018-07-18 17:01] sckott commented on #231
should be easy enough to force date onto a new line

[2018-07-18 17:14] jeroen commented on #2
Meeting update: once maelle has implemented the code that adds the keywords to the registery, we want to show those in the front-end table.

[2018-07-18 17:15] maelle commented on #232
https://masalmon.eu/ "Read more"

[2018-07-18 17:15] maelle commented on #231
Jeroen's PR tackles this 🚀 #230

[2018-07-18 17:49] #188 closed

[2018-07-18 20:09] stefaniebutland commented on #232
I'm ok with it as is

[2018-07-18 20:10] stefaniebutland opened #235 "new blog landing page - left-justify titles?"
Would it look a bit less crowded/ cleaner?

[2018-07-18 20:12] #232 closed

[2018-07-19 08:59] jeroen commented on #235
Try it in a PR and see how it looks. I experimented a bit with it and liked the centered titles more.

[2018-07-19 19:09] #235 closed

[2018-07-23 12:02] maelle commented on #228
Am experimenting

[2018-07-23 12:16] maelle commented on #228
Okay so I'm ready to change it back if it's too messy @stefaniebutland but here is what I've done:

* I've converted the Markdown table to an html table (by copy-pasting the source of the rendered version 🙈 ). I think it's not much harder to edit than the raw Markdown table, but maybe it is, in which case this is all a very bad idea.

* I've added anchors for http://communitycalls.ropensci.org/#pa

[2018-08-09 01:55] stefaniebutland commented on #228
not ignoring this @maelle but not looking at it just yet. Thank you!

[2018-08-09 14:27] maelle opened #246 "Code highlighting"
I find the color of comments in R code chunks quite dark, I'm starting to wonder whether it's readable by all (some people have trouble seeing stuff with low contrast so maybe this is an issue?). 🤔

[2018-08-09 17:48] #84 closed

[2018-08-11 09:16] maelle opened #250 "Broken headers in a post"
https://ropensci.org/blog/2017/01/25/obis/

[2018-08-14 15:31] malcolmbarrett opened #253 "Ligature fonts on the rOpenSci website"
Recently, the rOpenSci website changed to ligatured FiraCode. I believe that using ligatures in this setting is not the right choice.

Ligatures are pretty but confusing to newcomers. The fact of the matter is that R does not use them; it uses characters from the keyboard. Since it's not actually R, someone less familiar with the language is going to be confused about what they are and how to make

[2018-08-14 16:46] jeroen commented on #253
We actually switched a font with *less* ligatures than the previous font, exactly because of this. See https://github.com/ropensci/roweb2/pull/251. We have been using ligatured code fonts for over a year.

You are the first one to complain about this, but if we get more feedback of this kind, we could switch to an even simpler font. However I'm not convinced about the "confusing to newcomers". Do

[2018-08-14 17:34] malcolmbarrett commented on #253
To be clear, this is not a complaint. I'm sharing a perspective on pedagogy for you all to consider. That perspective is simply that ligatures are a minor but real barrier.

My opinion on this is based on experience with newcomers, not any sort of study (does such a study of learning R even exist? I'd be curious to see it!).

It's also not ever about looking down on newcomers; I firmly believe tha

[2018-08-14 19:08] noamross commented on #253
I concur (also based on instinct/reasoning, not evidence!) that ligature fonts that obscure the actual characters seem like a poor pedagogical choice.  But, also, I hadn't noticed them before.

[2018-08-23 07:58] maelle opened #256 "Broken post"
https://ropensci.org/blog/2018/08/14/where-to-bird/

[2018-08-23 14:17] maelle commented on #256
fine now 🤷‍♀️

[2018-08-23 14:17] #256 closed

[2018-08-27 08:49] maelle commented on #172
This bug annoys me more and more. I'm trying to understand how to improve this.

I've had a look at the search results of https://github.com/ropensci/roweb2/search?q=list-style&unscoped_q=list-style and am not too sure where the problem happens.

I've looked at https://www.w3schools.com/css/css_list.asp and am wondering whether the problem could be "solved" by adding `list-style-position: inside;`

[2018-08-27 08:57] maelle commented on #126
We even got someone complaining about it https://discuss.ropensci.org/t/where-to-go-observe-birds-in-radolfzell-an-answer-with-r-and-open-data/1295/3

[2018-08-27 09:17] #126 closed

[2018-08-27 10:30] maelle commented on #132
Source = https://github.com/ropensci/roweb2/blob/master/content/blog/2017-10-06-sholler-plan.md

[2018-08-27 10:33] maelle commented on #132
Notes from my reading

* https://discourse.gohugo.io/t/correct-syntax-to-display-subscript-in-markdown-content/7314/2 it says it could be a font thing but I highly doubt it is since @stefaniebutland said the superscripts used to be there.

* https://gohugobrasil.netlify.com/getting-started/configuration/#blackfriday-extensions says the `footnotes` extension is enabled by default 🤔

[2018-08-27 10:36] maelle commented on #132
Ahah I :eyes: https://github.com/ropensci/roweb2/blob/99277fae89c91f52cee504c144d263794ea89ec9/themes/ropensci/static/css/style-new.css#L9 `sup` is in the list of these things that get `vertical-align: baseline;`

[2018-08-27 10:41] #132 closed

[2018-08-27 10:48] maelle commented on #172
It's probably due to `ul` and `ol` properties defined in the new style, like for superscripts cf #132

[2018-08-27 10:55] maelle opened #260 "Re-add my own fix but correctly"
cf https://github.com/ropensci/roweb2/blob/master/advanced-theming.md#compiling-css

cf #259

[2018-08-27 11:13] maelle commented on #172
Notes

`ul` (and `ol`) present in

*  reset.pcss https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/css/reset.pcss

* typesetting.pcss https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/css/scroller.pcss

[2018-08-27 11:33] maelle opened #261 "CSS Update instructions"
In https://github.com/ropensci/roweb2/blob/master/advanced-theming.md#compiling-css

`npm install . --no-optional` should only be run once, right? Unless the package.json is changed?

[2018-08-27 11:57] maelle commented on #172
I really don't see where the paragraph inside line style is defined.

[2018-08-27 14:06] maelle opened #263 "Document what the different pcss do?"
Although their names are partially self-explaining.

[2018-08-27 14:33] maelle opened #264 "Add search bar for the blog and tech note blog?"
https://gohugo.io/tools/search/

[2018-08-27 14:38] maelle commented on #172
Although I see that view-source:https://ropensci.org/community/ also has p inside li elements of lists, but it looks good (but is not generated from Markdown)

[2018-08-27 14:40] maelle commented on #172
Or maybe, as noted by @noamross at the very beginning of this issue, the problem is within the Markdown generating process, so am looking at Blackfriday docs again.

[2018-08-27 15:14] maelle commented on #30
@jeroen would this only require changing https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/css/blog.pcss? If so, I can implement this change.

I just wonder if it can be problematic for posts that'd have used h1, h2 _and_ h3, because with your suggestion h3 and h1 would have the same size. Not sure any post does that though (I can look another time).

[2018-08-27 15:14] maelle commented on #147
What has _not_ been fixed yet?

[2018-08-27 18:10] #260 closed

[2018-08-28 05:07] maelle commented on #30
https://github.com/sourcey/moxygen

[2018-08-28 17:12] stefaniebutland commented on #228
Thanks @maelle. Easy to edit. Added anchors so we can link directly when the urge strikes

[2018-08-28 17:12] #228 closed

[2018-08-29 14:18] maelle commented on #30
@jeroen I've just had a look at the use of heading levels over all posts cf https://gist.github.com/maelle/85d10b4f793dc76f44ecd6a8522e2e7f

Some posts use only level 2, others only levels 3. The maximum number of levels by post is 3 (1,2,3 / 2,3,4)... If there's a way to write XML back to Markdown I'd like to homogenize the use of levels over all posts and all tech notes if needed using `xml2::xm

[2018-08-29 14:43] maelle commented on #30
Here's how I'd update headers https://gist.github.com/maelle/8c4316286c686519911cdce24ea9fa83

Missing is the step writing the XML back to Markdown (and also a step to re-add the YAML and then save the resulting file).

[2018-08-29 15:13] maelle commented on #264
I think a search bar could make sense because tags aren't necessarily enough.

[2018-08-29 15:29] #172 closed

[2018-08-29 15:33] maelle opened #266 "Add an alert to old post about how to better parse Markdown"
In https://ropensci.org/blog/2018/05/10/onboarding-social-weather/ I used regex.

- [x]  Publish a note somewhere about Markdown parsing with `commonmark` and `xml2` (code ready).

- [x] Add an alert and a link in the old post.

[2018-08-29 16:11] maelle commented on #2
Another note, I'd like to auto-generate the different filters https://github.com/ropensci/roweb2/blob/master/content/packages.html#L31 based on the categories present in the registry csv (this way if we update categories, no need to update the website table code).

[2018-08-29 16:16] maelle commented on #2
There's also some "manual" category grouping at the moment https://github.com/ropensci/roweb2/blob/3d3c0f0c598459f0e5ca5b1bafbd1c3edcb58bde/themes/ropensci/static/js/tableinit.js#L35 (not criticism, just a note I'm making)

[2018-08-29 16:38] maelle commented on #2
I need to figure out whether it'd be problematic to use a csv instead of a JSON as input.

[2018-08-29 16:46] maelle commented on #2
Or I can also produce a csv, might be easier 🤷‍♀️

[2018-08-29 16:48] maelle commented on #2
In the current table on the site the maintainers names look like hyperlinks but they aren't. I wonder whether there should be... a mailto:? A view filtered by maintainer?

[2018-08-29 16:58] karthik commented on #2
Ideally it should go to their GitHub profile page.

[2018-08-29 16:58] karthik commented on #2
or actually i prefer a filtered view by maintainer

[2018-08-29 17:32] maelle commented on #20
Play with the "inline-spacing" (I already forgot the name @jeroen) rule to see whether it fixes this and what it breaks.

Note to self: Chrome tools.

[2018-08-29 17:36] maelle commented on #147
![image](https://user-images.githubusercontent.com/8360597/44804827-d6c46380-abc2-11e8-8a8c-de3931ebc31e.png)
https://ropensci.org/blog/2018/08/28/birds-ocr/

[2018-08-29 17:49] maelle commented on #264
Tags enough for now

[2018-08-29 17:49] #264 closed

[2018-08-29 17:52] #186 closed

[2018-08-29 19:09] karthik commented on #253
Hi @malcolmbarrett
Thanks for raising the issue and providing thoughtful input on why you think ligature fonts are problematic. As @jeroen noted, we have been experimenting with new fonts and better ways to display code. As of now we don't have evidence either way (whether these are good or bad for beginners). We'll investigate more and work on improving how we display code blocks.

For the time b

[2018-08-29 19:27] malcolmbarrett commented on #253
That's reasonable. Thanks all!

[2018-09-05 07:03] maelle opened #268 "Tags don't appear at the bottom of tech notes"
which I find sub-optimal for discovering related posts. Opinions?

[2018-09-05 07:19] maelle opened #269 "On the blog page the title of tech notes are all lower-case"
![image](https://user-images.githubusercontent.com/8360597/45077138-b0378880-b0ec-11e8-9eba-0454b91ce31f.png)

was it a design choice @jeroen? if not I can try changing that.

[2018-09-05 09:55] jeroen commented on #269
Hmm I don't think that was a deliberate design choice.

[2018-09-05 10:05] maelle commented on #269
Ok then I'll investigate when I get a chance 🕵️‍♀️

[2018-09-05 10:16] jeroen commented on #269
Ah maybe it actually was a choice: https://github.com/ropensci/roweb2/blob/716d82e7fcf22dfe7f833e52e0a67ff9e4845255/themes/ropensci/static/css/table.pcss#L53

[2018-09-05 10:26] maelle commented on #269
Ok. I think it should be changed, but we can vote. 😉

[2018-09-05 10:28] jeroen commented on #269
OK you can open a PR. I thought the mixed case titles made it look a bit messy. But I don't feel very strongly.

[2018-09-07 13:50] maelle commented on #2
good idea by @noamross, the table should also show which packages have been reviewed.

[2018-09-07 19:16] maelle opened #272 "GDPR config?"
See https://github.com/tidyverse/tidyverse.org/issues/197

[2018-09-07 19:20] #266 closed

[2018-09-10 21:25] stefaniebutland opened #274 "Fix â€“ character in technote"
@maelle In technote https://github.com/ropensci/roweb2/blob/master/content/technotes/2018-09-10-github-badges.md for `Project Status: Active â€“` should `â€“` be changed to a dash?

[2018-09-11 04:27] maelle commented on #274
Good catch for `codemetar`, will open an issue there.

[2018-09-11 05:15] #274 closed

[2018-09-12 19:35] sckott commented on #272
@maelle in the agenda for the staff call you asked about a twitter thing? Looks like there's some settings in the GDPR hugo configuration. What exactly are you asking about?

[2018-09-12 20:39] maelle commented on #272
Twitter was an example of a choice to be made, sorry. In https://gohugo.io/about/hugo-and-gdpr/ you can see all the parameters to choose.

[2018-09-12 20:40] maelle commented on #272
E.g. my own config is https://github.com/maelle/simplymaelle/blob/master/config.toml#L102 (my website doesn't have Google Analytics enabled which will be a difference)

[2018-09-13 01:11] sckott commented on #272
I would think the same as your config except a few things:

- googleanalytics: enable
- instagram: have we had any instagram embeds? I don't think we've had any

[2018-09-13 02:55] maelle commented on #272
I don't have any instagram embedded either, it is just in case 😂

[2018-09-18 19:14] stefaniebutland commented on #222
done https://ropensci.org/community/

[2018-09-18 19:14] #222 closed

[2018-09-23 19:59] karthik opened #282 "Code of conduct on website has no contact info"
We have it for events, but not for the main one. Needs a reporting mechanism.

[2018-09-24 17:58] sckott commented on #282
do we do phone numbers? or just emails?  happy to be a contact for this

[2018-09-29 11:20] rtaph opened #285 "Blog Dates and Hugo"
@stefaniebutland,

What do you think about adding a sentence to the README to explain that post-dated blog entries do not appear in the served content through hugo? This took me a while to figure out, and I think new users could benefit from this insight if they are writing blogs for future publication.

[2018-09-30 22:35] stefaniebutland commented on #285
Ah sorry about that @rtaph. Are you referring to trying to render your post locally, here in the README https://github.com/ropensci/roweb2#installing-hugo-for-local-preview?

I think `hugo serve -F` is needed for rendering post-dated blog entries locally. If this is what you're referring to I'll update the README.

Thank you for letting us know

[2018-10-01 04:32] rtaph commented on #285
Yes, brilliant. I was having trouble with my local hugo instance, and did not know about the `-F` flag.

[2018-10-02 17:28] maelle opened #288 "Superscripts create a too big vertical space"
![screenshot_20181002-192702](https://user-images.githubusercontent.com/8360597/46365611-55586900-c679-11e8-90a6-049325e47418.jpg)

[2018-10-02 23:22] #285 closed, assigned to nobody

[2018-10-03 12:53] maelle commented on #181
Should I put the templates here or link to https://github.com/ropenscilabs/roblog ? (yes a very new very WIP :sparkles: helper package for roweb2 blogging :sparkles:)

[2018-10-07 10:43] maelle opened #290 "Twitter cards?"
Context: https://discuss.ropensci.org/t/suggestion-improve-visual-appeal-of-ropensci-blog-pages-and-make-them-easy-to-post-on-twitter-with-an-appealing-image/1391

Tweet that'd have looked better if the website had Twitter cards https://twitter.com/MHBurle/status/1048660135638253568

Technically I'm not sure how to do that. I saw http://villageblacksmith.consulting/hugo-twitter-cards/

Also releva

[2018-10-08 14:11] maelle commented on #2
I had missed that it's already implemented actually!

[2018-10-11 10:17] maelle commented on #290
* We now have Twitter cards for content build from Markdown.

* Is there any reason why community is html and not Markdown? For packages, it sort of makes sense, but for COC etc, I'm not sure? Anyhow, such pages are next on the Twitter card mission.

[2018-10-11 10:20] maelle commented on #290
I will also add guidance about twitterImg next week, and maybe we could add some twitterImg in existing YAML, not sure if important.

[2018-10-15 06:35] maelle opened #294 "Why is there a page about related projects?"
https://ropensci.org/related/

Should it stay, and if so, who should keep it up-to-date?

I'm also not sure where it's linked from.

[2018-10-15 06:47] maelle opened #295 "Transition to Markdown"
I'm transitioning a few pages to Markdown, and they are mostly pages you maintain @stefaniebutland

The reason for that is that when they were html I was trying to use the head.html partial called with arguments which was a bit messy, instead it's easier to have them as Markdown with frontmatter (that contains the title, the Twitter image etc.) and to call the fancy html parts (e.g. for the commun

[2018-10-15 07:29] maelle commented on #295
I've done that in #293 @stefaniebutland

Preview https://deploy-preview-293--ropensci.netlify.com/coc/ Please check that nothing looks amiss!

There's actually no summary probably because the first paragraphs are wrapped inside html (for the text size)
![image](https://user-images.githubusercontent.com/8360597/46935817-99297600-d05c-11e8-9364-0fdde126858b.png)

But we could hard-code a summary for

[2018-10-15 07:55] maelle commented on #295
# Community

https://deploy-preview-293--ropensci.netlify.com/community/

The html parts are in a partial called "community-fancy.html".

I used the `twitterImg` argument, which you might change.

![image](https://user-images.githubusercontent.com/8360597/46937008-75682f00-d060-11e8-8011-785b8d540bb9.png)

[2018-10-15 08:16] maelle opened #296 "Use the mailkimp partial everywhere"
E.g. in careers it's hard-coded.

[2018-10-15 09:09] maelle commented on #295
The community.md file now has html inside again, but it still has two advantages
* front matter at the top
* no repetition of all the head.html footer.html partial calling, since this is now done in single.html default partial.

[2018-10-15 13:03] maelle opened #297 "The contact form is hard to see"
I think the text and borders could be a bit darker.

[2018-10-15 13:12] maelle commented on #82
Why does the comm call page need to be in a separate repo by the way? Any reason why it's not a page in this Hugo project?

[2018-10-15 13:14] maelle commented on #187
So you'd add a sentence about it in the mailkimp.html partial?

[2018-10-15 13:16] maelle commented on #221
Whilst tackling this one day, the resources page could be transformed to Markdown like the other pages I've worked on in #293

[2018-10-15 13:17] maelle commented on #295
It's all handled in #293, probably better to keep discussion there.

[2018-10-15 13:17] #295 closed

[2018-10-15 13:18] maelle commented on #296
I'm doing this in #293

[2018-10-15 14:14] karthik commented on #82
Can't remember but Stef was having issues with keeping the html tables updated and formatted nicely iirc. So we decided to make it a separate subdomain with a simple markdown table/theme to keep that easily updated as an archive.

[2018-10-15 14:15] maelle commented on #82
Ok, but now the table is html because I transformed it (with Stef's agreement 😸 ) to have a direct link to each call.

[2018-10-15 16:18] sckott commented on #187
yeah, sounds right

[2018-10-15 16:50] maelle commented on #294
Cool, can you delete it? :pray:

[2018-10-15 17:34] stefaniebutland opened #298 "Contact form email no longer shows in Zendesk Inbox"
Until recently, emails sent via https://ropensci.org/contact/ would get sent to info@ropensci.org via Formspree and show up in https://ropensci.zendesk.com/inbox/. They no longer show up in Zendesk Inbox.

Why a problem?
-need to see who has answered
-I need to ask for advice before answering and this system is good for that

[2018-10-16 05:45] maelle opened #299 "html use cases"
They're broken e.g. https://ropensci.org/usecases/taxize_invasivephylo/ and include links to ropensci.org/related_links that doesn't exist.

That said I guess their fate will depend on #73

[2018-10-16 05:49] #294 closed

[2018-10-16 05:53] maelle commented on #65
I've now really removed the page from content 😉

[2018-10-16 05:58] #269 closed

[2018-10-16 06:01] maelle opened #300 "Resources page maintenance"
The resources page seems to be updated by hand, in the html. I was wondering whether we could have it work like the packages page i.e. filled automatically from a source living somewhere else.

* For talks, see #221
* For papers, is there a list somewhere?

[2018-10-16 06:17] maelle commented on #23
For info in #293 I'll tinker with the tags page (which is html at the moment, I'm getting rid of html under content)

[2018-10-16 08:00] maelle commented on #23
@sckott From my PR: https://deploy-preview-293--ropensci.netlify.com/tags/ I've created a template for this page, "terms.html". Your "tags.html" under content/ isn't used at all actually, Hugo uses"list.html" from default/, which is the list template for the blog so it looks a bit weird http://ropensci.org/tags (I'm learning a ton about Hugo lookup order for templates :wink: )

[2018-10-16 08:07] maelle commented on #23
Regarding _where_ to add a link to the archives and tags pages, not sure where to do that. @stefaniebutland , where were you imagining them? Maybe at the bottom of each blog/technotes page, i.e. at the bottom of https://ropensci.org/blog/, https://ropensci.org/blog/page/2/ etc. "Find all our blog posts and tech notes by date _here_ and by tag _here_" pointing to ropensci.org/tags (that exists) and

[2018-10-16 08:09] maelle commented on #226
I'll tackle that after my big metadata/template PR.

[2018-10-16 09:51] maelle commented on #229
I'll try something after #293 is merged.

[2018-10-16 09:53] maelle commented on #201
Should I delete the ropensci tag?

The future new tags page allows to get an overview rapidly https://deploy-preview-293--ropensci.netlify.com/tags/

[2018-10-16 10:05] maelle commented on #23
I made https://deploy-preview-293--ropensci.netlify.com/tags/ _very_ compact, it looks better than say https://masalmon.eu/tags/ but I find it a bit ugly, I welcome any suggestion.

I think it's not a good idea to have posts grouped by tag under each tag name in https://deploy-preview-293--ropensci.netlify.com/tags/  because it would make it difficult to get an overview, and when clicking on each

[2018-10-16 10:05] jeroen commented on #229
I kept it minimal on purpose but if people prefer to have names in the list that's OK too.

[2018-10-16 10:12] maelle commented on #229
Don't worry I'll request a review to be sure the new version complies with Dutch design 😁

[2018-10-17 07:32] maelle commented on #263
Will open a general issue

[2018-10-17 07:32] #263 closed

[2018-10-17 07:34] maelle opened #302 "Complement info about the website source"
In https://github.com/ropensci/roweb2/blob/master/advanced-theming.md

cf #263 #261

After #295 is merged I can add info about what the templates are, where the partials live etc.

[2018-10-17 07:34] #261 closed

[2018-10-17 07:35] maelle opened #303 "Make the 404 page a bit nicer?"
Or would that be not serious enough?

[2018-10-17 07:41] maelle opened #304 "Harmonize images storing?"
There are images in

* content/ <- why is it so @jeroen? (asking because https://github.com/ropensci/roweb2/commit/388c75c64cc1033975a28d56fb1bb09391b182c3 )
* themes/ropensci/static/public_images (the footers, makes sense)
* themes/ropensci/static/img with several subfolders

Should all images be in the static folder?

[2018-10-17 07:56] maelle commented on #302
will be tackled in #295 actually

[2018-10-17 07:56] #302 closed

[2018-10-17 17:18] maelle commented on #201
Ok will do

[2018-10-22 06:11] maelle commented on #92
would you want to embed the Google cal?

Thought of this because I saw https://github.com/lockedatapublished/hugo-utilitybelt/blob/master/layouts/shortcodes/fullcalendar_gcal.html

[2018-10-22 15:50] stefaniebutland commented on #92
Yes I think it's ideal to embed the Google cal as long as people are ok with the aesthetics.

[2018-10-22 16:06] maelle commented on #92
I could try it in a branch some day and see whether we can still use rOpenSci style on it.

It'd solve steps 2 and 3 of your worknotflow.

[2018-10-24 12:40] maelle opened #306 "Make the tags page a fancy wordcloud?"
E.g. with https://www.jasondavies.com/wordcloud/

cc @jeroen

[2018-10-24 13:06] maelle opened #307 "Explore making events part of content/ and use Hugo custom output to create ics"
Edited the history of this thread.

[2018-10-24 15:33] maelle commented on #23
@stefaniebutland said one archive page for both blogs is best, I agree, I'll try to get that to work.

Once both the archive and tags pages are up, I'll complement the list.html templates of blog/ and technotes/ with a sentence for the bottom of each page "Find all posts blabla".

[2018-10-24 15:33] maelle commented on #23
@sckott I stole the issue from you, sorry :wink: 🙏

[2018-10-24 16:17] sckott commented on #23
no problem at all!

[2018-10-25 05:43] maelle commented on #306
@stefaniebutland you probably wouldn't like that, would you? Given you didn't like the different sizes for tags.

[2018-10-25 09:48] #290 closed

[2018-10-25 09:48] #296 closed

[2018-10-25 13:28] maelle opened #314 "is.invasive() authorship"
The very first post of the blog is a guest post. @sckott would it make sense for you to remove your name from the authors or at least add the name of the guest author?

https://github.com/ropensci/roweb2/blob/master/content/blog/2012-11-26-is-invasive.md

I'm asking because of #313 https://deploy-preview-313--ropensci.netlify.com/archive/ <- it shows the author names.

Do you know of other guest p

[2018-10-25 16:37] maelle commented on #314
Thanks, can you do the edit? 🙏

[2018-10-25 16:38] #187 closed

[2018-10-25 19:10] stefaniebutland commented on #306
that is correct 😬

[2018-10-25 19:28] stefaniebutland commented on #82
I think it would be best to have comm call page as part of roweb2.

Historically, Comm Calls started in that separate repo and I don't think we listed all past calls resources in one place - each was in one issue. I put the table of all calls in the README so Karthik could add Jekyll theme. This was a good quick fix and then @maelle you added the super-helpful anchors.

Can't think of any reason n

[2018-10-25 19:35] maelle commented on #306
Then,  I'll close this!

[2018-10-25 19:35] #306 closed

[2018-10-26 07:07] maelle commented on #143
I can add this at the bottom of technotes and blog list pages together with the sentence about the archive and tags pages cf #23 #313

[2018-10-26 07:09] maelle commented on #56
@sckott still the case?

[2018-10-26 10:33] maelle commented on #307
For context the packages table is built from JSON, so we could just mimick that (and filter to have X events at a time on the page, whilst the JSON would actually hold the whole events list since the beginning of times).

[2018-10-26 10:35] maelle commented on #307
it might just means adding a condition before the for loop of https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/js/calinit.js

[2018-10-26 10:36] maelle commented on #307
And then the blog post about next meetings etc could use the same partial I guess 🤔

[2018-10-26 10:41] maelle commented on #307
Note, maybe there is a way to create iCal format from the JSON

[2018-10-26 10:46] maelle commented on #307
https://gohugo.io/templates/output-formats/

[2018-10-26 10:49] maelle commented on #307
https://discourse.gohugo.io/t/calendar-ics-template/7137

[2018-10-26 10:50] maelle commented on #307
In the above each event = a md consisting of YAML only. It gets translated to html and ical.

[2018-10-26 11:02] maelle commented on #307
My current favorite solution (still not sure):
* each event as a .md under content/events. Use categories:event in YAML, rest of info as YAML too.
* not linking the events pages from anywhere (possibly not building them?)
* creating a partial that creates a table from the events. call that partials from posts and the community page.
* have a list.ics layout for events that'd allow having a calenda

[2018-10-26 11:02] maelle commented on #307
and old events would be translated to md with some R script of mine.

[2018-10-26 11:03] maelle commented on #307
(possibly retrieving the history of the .js, fear not @stefaniebutland)

[2018-10-26 11:09] maelle commented on #307
to exclude events from the sitemap (they'd be needed to build the table and ics but shouldn't be accessible as pages for users of the website) maybe https://gohugo.io/templates/sitemap-template/

[2018-10-26 11:31] maelle commented on #157
If we create the calendar feed, it'd have an URL (and yep one can add an anchor to the calendar html version on the community page I think)

[2018-10-26 16:32] sckott commented on #56
yes, still the same

[2018-10-26 16:32] sckott commented on #143
sounds good

[2018-10-29 06:52] maelle commented on #82
Ok, thanks. I think we could move the commcalls to roweb2, it makes sense to have everything under one (very stylish) umbrella. It'd be a folder under content/ and would need a layout for
* each comm call page.
* the list of comm calls (happy to make it a table, I'd just need info for each comm call to live in the YAML).

We'd also need a redirect from https://communitycalls.ropensci.org/ to ropen

[2018-10-29 06:53] maelle commented on #82
@sckott I think it's a very similar challenge to move the newsletter to roweb2. I'm very motivated to help with both moves. 😺

[2018-10-29 09:33] maelle commented on #82
In each comm call page, the vimeo video could be embedded https://gohugo.io/content-management/shortcodes/ It could be done by default, each comm call .md being only YAML, and the template defining the use of the Vimeo partial.
It could be actually embedded, or via a thumbnail cf https://gohugo.io/about/hugo-and-gdpr/#vimeo

[2018-10-29 09:46] maelle commented on #143
I also need to mention the JSON feed if #315 gets approved by @sckott

[2018-10-29 11:15] #268 closed

[2018-10-29 11:21] maelle opened #317 "Repair packages container"
I removed one div too many h/t @jeroen

[2018-10-29 11:31] #229 closed

[2018-10-29 14:12] jeroen commented on #317
I think you need to wrap the entire packages template into another `<div class="container">` in order to get the fixed with design.

[2018-10-29 15:14] maelle commented on #155
I understand the need to archive past events but would you need a table of all past events as an archive page on the website? 🤔

[2018-10-29 15:28] #317 closed

[2018-10-30 05:34] maelle opened #320 "Link pages to stay up to date"
- [ ] archive page at the bottom of tags page

- [ ] tags page at the bottom of archive page

- [ ] archive and tags pages + RSS and JSON feeds at the bottom of tech notes and blog.

- [ ] RSS and JSON feeds at the bottom of tags and archive page.

cf #23

[2018-10-30 05:34] #23 closed

[2018-10-30 06:14] stefaniebutland commented on #155
No, was aiming to keep as internal record of events/talks that we can refer to went writing reports for example

[2018-10-30 06:55] maelle commented on #155
Ok, great, then if all old events are archived as Markdown files, one could whip up a script using the `yaml` package, e.g. run it before each report to rectangle the events i.e. go from info in individual files to one big table.

[2018-10-30 07:05] maelle commented on #155
And it'd mean I'd consider my calendar work done once I've written an example of such a script.

[2018-10-30 09:46] #314 closed

[2018-10-30 09:50] maelle commented on #223
The current phrasing "read our Contributing Guide to learn how you can contribute to rOpenSci as a user or developer." fix this issue.

[2018-10-30 09:50] #223 closed

[2018-10-30 09:55] maelle commented on #143
will be tackled by #320

[2018-10-30 09:55] #143 closed

[2018-10-30 10:33] #297 closed

[2018-10-30 15:12] maelle commented on #97
at least now we use it in the Twitter metadata 😸

[2018-10-31 07:58] #201 closed

[2018-10-31 08:03] maelle commented on #307
If comm calls get tags, tags can be added with `blogyaml`!

[2018-10-31 08:07] maelle opened #324 "Make an authors partial"
from the code used to add team URL if staff member etc, that's used in the blog and tech notes, and could be used elsewhere as well.

[2018-10-31 12:46] maelle commented on #157
In my opinion a calendar icon near the GitHub, Twitter and Vimeo icons, pointing to events/, would be fine.

[2018-10-31 12:47] maelle commented on #221
If we go with my proposal in #316 then a YAML field of event could be slides, that'd be an URL to the slide when available, and that'd be used in the template for single event pages.

[2018-10-31 17:46] #324 closed

[2018-10-31 18:03] maelle opened #326 "Add Twitter usernames to posts by staff/leadership"

[2018-10-31 20:31] maelle commented on #326
Done in #328

[2018-10-31 20:33] #326 closed

[2018-11-01 05:41] #199 closed

[2018-11-01 19:14] karthik commented on #303
We can def do it but push it lower down the priority list. Some inside nerdy R joke would be fun.

[2018-11-05 15:18] maelle commented on #56
any idea what could cause this? @jeroen?

[2018-11-05 15:19] maelle commented on #56
@sckott does it also look ugly in https://deploy-preview-308--ropensci.netlify.com/packages/ ? JS libraries were updated, so who knows.

[2018-11-05 16:55] sckott commented on #56
still bad

[2018-11-05 17:36] maelle commented on #56
😢🤔

[2018-11-05 22:49] marulango commented on #56
Oh my! Just saw this, will give it a look later tonight.

[2018-11-06 06:56] maelle commented on #56
cf #330 thanks @marulango

[2018-11-06 07:38] #303 closed

[2018-11-06 08:53] maelle commented on #213
see #332

[2018-11-06 08:57] maelle opened #333 "Unconf landing page"
Technically, just a page under content.

Cf https://github.com/ropensci/roweb2/issues/82#issuecomment-405697902

* Highlights what the event is about
* How it works
* How to get involved
* It could also include some generic information for sponsors. I moved the old repos (hackathon, unconf etc) to unconf14, unconf15 and along with unconf16 and unconf17, it makes for a nice series of repos.

From m

[2018-11-06 08:57] maelle commented on #82
Closing this since there are now separate issues for the comm calls transfer (I will tackle that with the calendar, and will ping you reg the redirection when time comes @karthik), the onboarding page #332  and the unconf page #333

[2018-11-06 08:57] #82 closed

[2018-11-06 09:02] maelle commented on #83
@sckott can I help? Are there other posts than the ones linked here that you thought of when writing "..."? Maybe I should "simply" use html-proofer.

[2018-11-07 19:05] sckott commented on #83
there are probably other ones. a tool to find problems would be good

[2018-11-09 12:47] #56 closed

[2018-11-09 12:57] maelle opened #335 "Tweak RSS templates"
As requested by @jeroen

* Use Hugo default RSS feed for all pages

* Create an aggregate RSS feed for blog+tech notes, using the current custom RSS feed template (which include full content and a cover image).

* Then submit that aggregate RSS feed to R-Bloggers.

Jeroen, note that the JSON feed is full content IIRC.

[2018-11-09 13:02] jeroen commented on #335
Instead of submitting to rbloggers we can first update the redirect: https://github.com/ropensci/roweb2/blob/master/public/_redirects#L6

[2018-11-09 13:06] maelle commented on #335
that's a good idea

[2018-11-12 12:05] #335 closed

[2018-11-12 12:29] maelle opened #338 "Make the R-bloggers RSS feed suffix-less"
I.e. getting the result of https://github.com/ropensci/roweb2/commit/d495668d2d484233f1c2370f49fdf2392318d769 without the redirect.

Potentially useful forum threads I found
* https://discourse.gohugo.io/t/solved-eliminate-xml-suffix-custom-rss-uri/7532/9
* https://discourse.gohugo.io/t/how-can-i-change-the-rss-url/118

Apparently if you edit the suffix you'll have to rename the RSS custom templat

[2018-11-29 04:51] stefaniebutland commented on #282
committee names and contact info added

[2018-11-29 04:51] #282 closed

[2018-11-29 05:01] stefaniebutland opened #348 "Error embedding discourse in a commcall"
In this commcall @maelle https://raw.githubusercontent.com/ropensci/roweb2/master/content/commcalls/2018-10-16.md, presence of `topicid` for linking discourse thread results in error in preview https://ropensci.org/commcalls/2018-10-16/

"Error Embedding

Referer:https://ropensci.org/commcalls/2018-10-16/

The referer did not match any of the following hosts:

ropensci.org/blog/*
ropensci.org/tech

[2018-11-29 09:31] maelle commented on #348
Oooh I think that maybe forum admin @sckott can fix.

@sckott I naively thought we could embed discuss threads in comm calls pages like we do for the blog and tech notes. So in the template I copied the same html. But apparently there's an option to change on Discourse side?

Besides, @sckott , do you think it's a technical problem if sometimes we embed the same Discourse thread in a blog post and

[2018-11-29 09:32] maelle opened #349 "Add tags to comm calls"
Using `blogyaml` maybe?

To make them more easily discoverable.

[2018-11-29 09:55] maelle opened #350 "Rename the onboarding tag"
@stefaniebutland we're in the process of renaming onboarding "software peer-review". So the onboarding tag could be renamed "software-peer-review".

* What's the current difference between the "review" and "onboarding" tag? I think it's the author of the post?

* When changing the tags I'll make sure to also correct links to https://ropensci.org/tags/onboarding/

[2018-11-29 15:18] sckott commented on #348
✅ works now

[2018-11-29 15:33] maelle commented on #348
Yay! Thank you!

[2018-11-29 15:33] #348 closed

[2018-11-29 19:47] stefaniebutland opened #351 "Make date appear on Comm Calls Next Call"
Date does not appear here
https://ropensci.org/commcalls/

Though the info is present: https://raw.githubusercontent.com/ropensci/roweb2/master/content/commcalls/2018-12-18.md

[2018-11-29 21:23] stefaniebutland commented on #350
I'm ok with having only "software peer-review" tag and removing "review" and "onboarding". I've updated the tags recommendation in https://github.com/ropensci/roweb2#blog-post-editorial-suggestions

I think I kept both review and onboarding cause some posts had one and some had another so I 😜 added both tags to ~all

[2018-11-30 06:02] maelle commented on #351
🙀 working on it now (whyyy did I remove it at some point?!)

[2018-11-30 06:02] maelle commented on #351
Done but please check it's the right time @stefaniebutland before closing this

[2018-11-30 17:33] #351 closed

[2018-12-04 10:33] #350 closed

[2018-12-04 16:00] #213 closed

[2018-12-05 14:23] maelle commented on #307
No need for ICS, and calendar PR opened.

[2018-12-05 14:23] #307 closed

[2018-12-06 15:42] maelle commented on #157
cf #358

[2018-12-06 15:42] #157 closed

[2018-12-06 15:43] maelle commented on #92
cf #358

[2018-12-06 15:43] #92 closed

[2018-12-06 22:16] sckott commented on #2
cron job is running now

I still need to sort out adding new repos as they are added to ropensci/ropenscilabs

[2018-12-07 05:03] maelle commented on #2
Yay!

So there is no API call to GitHub before cloning at the moment?

[2018-12-12 18:22] sckott opened #362 "Tutorials options"
I think everyone agrees we need to do something about the tutorials on our site. What that is though is not so clear. Here's some options

- keep tutorials as stylized html pages, BUT figure out a way to automate their creation and IMPORTANTLY their updates to the most recent version of the package
- remove html-ized tutorials and instead link out to whatever is the best place to get started for e

[2018-12-14 17:08] sckott commented on #2
i think this is all set now @maelle

[2018-12-14 17:31] maelle commented on #2
or at least we now track remaining issues elsewhere 😁 https://github.com/ropenscilabs/makeregistry

[2018-12-14 17:31] #2 closed

[2018-12-17 16:44] angela-li opened #365 "Be able to go to all the articles written by a person by clicking on their name"
I would love it if, when clicking on someone's name under their blog post, it took me to a list of _all the blog posts they had written_, rather than the "Meet the Team" page.

For example, if I want to read all of Stefanie's posts, all I have to do is click on her hyperlinked name (say, in this [blog post](https://ropensci.org/blog/2018/12/05/commcall-dec2018/)), and it'll take me to something at

[2018-12-17 16:47] angela-li commented on #365
Or even, I go to the "Meet the Team" page, and then I can go to a page that has all of a person's blog articles by clicking on their hyperlinked name. That'd work too!

[2019-01-03 09:47] maelle commented on #362
* not having tutorials and instead having pkgdown pages for all packages and linking to them?

[2019-01-04 19:52] sckott commented on #362
I think the idea was that @jeroen could create a pkgdown ropensci template that we could use - do you think that's still worth doing?

[2019-01-04 20:19] stefaniebutland commented on #362
If that's what was decided then definitely yes. Without taking more time, I have a hard time visualizing the technical side of this so I don't have an opinion to share. Just wanted to share those notes from staff mtg. Impostering hard over here

[2019-01-04 20:24] sckott commented on #362
sorry, was asking @jeroen if he still wanted to do it

[2019-01-07 12:31] maelle commented on #120
The team part of the about page is already a bit crowded so I think adding titles to it would demand a big re-design.

A partial solution that could emerge once #373 is merged would be to
1. Add bio to the authors metadata of all people listed in the about/ page
2. Link to the author page (even for non staff e.g. leadership? currently only for staff)

E.g. when clicking on your name in the PR as i

[2019-01-07 15:38] maelle opened #374 "Change author of posts written by the Core Team"
https://ropensci.org/authors/core-team/

[2019-01-07 15:39] maelle opened #375 "Add a bio line for all staff members"
in the authors metadata

[2019-01-07 15:47] maelle opened #376 "Update guidance for blog post authors"
A new screenshot of YAML for a post, and of authors YAML, is needed.

I'm sorry to make you update this again in a short time @stefaniebutland but after that there should be no change in the short/medium term. :pray:

[2019-01-07 16:16] maelle opened #377 "Fix otherposts partial for authors like Rich"
Somehow the partial currently does not find any other post by Rich FitzJohn, Miles McBain.

[2019-01-07 16:21] maelle commented on #377
their author pages are fine (metadata is found, posts are found), so it's really puzzling for me.

[2019-01-07 16:31] #377 closed

[2019-01-07 19:39] stefaniebutland commented on #375
Added staff bio lines.
Decided to shorten them to e.g. rOpenSci Community Manager, rather than "Stefanie Butland is rOpenSci's Community Manager because the longer line looked awkward in blog post listing page.

Question: Do you think we can live without the comma after the twitter icon? Example: https://ropensci.org/blog/2018/12/05/commcall-dec2018/
Or would it look strange if we had a staff memb

[2019-01-07 19:40] #374 closed

[2019-01-07 22:57] stefaniebutland commented on #376
done :-)

[2019-01-08 07:16] maelle commented on #375
Thank you!

I've just removed the bio from the authors partial (@jeroen told me about it too). I have trouble imagining how to make it look good with the bio in it. I'm sorry about that.

The bio still appears in author pages themselves.

I've added the "description" parameter to comm call single pages and in the description one can add the affiliation which I did for Jeroen's and Dan's calls. I a

[2019-01-08 08:51] #365 closed

[2019-01-08 10:48] maelle opened #380 "Linespacing is too small in lists"
Example https://ropensci.org/blog/2018/12/05/commcall-dec2018/

[2019-01-08 11:43] jeroen commented on #375
I would prefer if for blog posts, the link in the author name goes to the author's ropensci index page on ropensci, rather than an external website.

In the future we could further personalize the author's index pages with a, bio, icons to github/twitter, perhaps a photo, in addition to the list of posts.

[2019-01-08 11:47] maelle commented on #375
Am fine with all the changes proposed if @stefaniebutland agrees. Would this index page be linked for all authors including one-time author?

I'll open an issue about the fancy author's index pages because I like that idea.

[2019-01-08 11:51] maelle opened #381 "Make author's index pages fancier"
A suggestion of @jeroen's, and something that'd be easy enough to implement now that we have the infrastructure.

Currently these pages have the name of the author, a very short bio for staff members, an online home if the `link` field of the author metadata is filled, a Twitter account if `twitter` is known.

* Adding a field with a pic to the YAML of at least all people listed in the about/ page

[2019-01-08 15:16] stefaniebutland commented on #376
good point - I had thought of doing it myself, but it is indeed better for author to choose the links they want to show. Will do

[2019-01-08 19:55] stefaniebutland commented on #349
`blogyaml` working thank you! added some tags e.g. `community-call` to all; need to add more

[2019-01-08 19:58] stefaniebutland opened #382 "one tag with strange case `packageS`"
I can't figure out which post has the tag `packageS` in order to fix it. Tag should be `packages`. See https://ropensci.org/tags/

[2019-01-08 21:40] stefaniebutland opened #383 "one or more? authors' pages have no content listed"
In updating guidelines https://github.com/ropensci/roweb2/issues/376 I noticed that Kelly O'Briant's page has no content listed despite checking that `authors` in blog YAML looked correct.
- rprofile series:
  - in https://raw.githubusercontent.com/ropensci/roweb2/master/content/blog/2018-02-09-rprofile-julia-stewart-lowndes.md
  - https://ropensci.org/blog/2018/06/08/rprofile-julia-silge/

At fir

[2019-01-08 21:46] stefaniebutland commented on #376
I'm going to use Kelly O'Briant's as example (e.g. woman community member with multiple contributions) once this issue is addressed https://github.com/ropensci/roweb2/issues/383#issue-397097870

[2019-01-09 05:19] maelle commented on #383
Which other ones havs this issue?

[2019-01-09 05:21] maelle commented on #383
It is orobably the same issue as with Rich and Miles, I'll rename the metadata folder (something wrong with O')

[2019-01-09 08:21] #383 closed

[2019-01-09 08:22] maelle commented on #383
Please tell me if you notice any other problem.

It's an issue that's totally puzzling to me because even before I fixed it, the author page of Kelly was fine, only the bottom of her posts was not (and it was the same with Rich). Not sure why Hugo could find the author metadata in one case.

[2019-01-09 08:52] #375 closed

[2019-01-09 08:53] maelle commented on #376
Is your decision to choose her as an example independent from Scott's choice in the newsletter? If so, it's funny. :smile_cat:

[2019-01-09 08:56] maelle commented on #376
I added suggestions to the guidance.

[2019-01-09 10:20] maelle opened #384 "Fix authors listing for single events"
:scream: https://ropensci.org/events/2019-01-15-rstudioconf/

[2019-01-09 10:49] maelle commented on #381
Idea of @jeroen's, for people with a GitHub username, maybe bio and homepage could be retrieved. Pro: more info. Con: the authors had not shared that info at the time.

[2019-01-09 10:50] maelle commented on #381
Layout
Left column with pic and some info
Icons toward the bottom of that
And right column with content.

[2019-01-09 10:53] #384 closed

[2019-01-09 10:54] maelle opened #385 "Old authors format for events"
@stefaniebutland as you might have noticed the authors format in events Markdown file has not changed. I.e. even for staff members the Twitter username needs to be listed.

The reason for that is that I was imagining the case when the attendee is someone external to rOpenSci who has never written a post. If we created an author page for that person, it'd have no content.

Is it fine or would you p

[2019-01-09 10:58] maelle commented on #120
Should we keep this issue open as a reminder for when/if the team part of the about page gets completely redesigned?

[2019-01-09 11:04] maelle commented on #381
When no pic uploaded by author use GitHub avatar. One needs the GitHub username, and the image is at `https://github.com/username.png` https://stackoverflow.com/questions/22932422/get-github-avatar-from-email-or-name/36380674#36380674

[2019-01-09 11:07] maelle commented on #381
Icons: Twitter, GitHub, GitLab, link (for homepage)

[2019-01-09 12:54] maelle opened #386 "Update comm calls URLs in Vimeo"
H/t @Rekyt

The Vimeo description of each comm call recording contains an old URL for "more information", it should be a link to the comm call individual page.

[2019-01-09 18:04] maelle commented on #376
So cool  😁 poke @sckott

[2019-01-09 18:32] sckott commented on #376
i think i picked her cause she was the lady with the most posts that wasn't staff

[2019-01-09 18:35] stefaniebutland commented on #376
Exactly!! Great when we're all doing stuff with some of the same values in mind

[2019-01-10 03:28] stefaniebutland opened #389 "page title missing from indiv Authors"
e.g. https://ropensci.org/authors/nicholas-tierney/

![screen shot 2019-01-08 at 5 37 28 pm](https://user-images.githubusercontent.com/11927811/50944221-65d06a80-1444-11e9-8795-cd92a2897f49.png)

Authors list page is ok https://ropensci.org/authors/

[2019-01-10 04:19] stefaniebutland commented on #382
...but when I clicked on that tag `packageS` it took me to a list for tag `packages` so I couldn't see which post it was! I was stumped

[2019-01-10 05:02] stefaniebutland commented on #376
done

[2019-01-10 05:02] #376 closed

[2019-01-10 07:03] #195 closed

[2019-01-10 07:40] maelle commented on #389
I'll tackle that at the same time as #381

The easiest solution will be to rename the `name` parameter in all authors' _index.md `title`. I'll also update the corresponding templates. When I do that the guidance for authors will need to be updated :see_no_evil:

By the way the authors individual pages don't have a `description` so the Twitter card will be empty. Unless I find a way to set a page v

[2019-01-10 07:58] maelle commented on #389
https://discourse.gohugo.io/t/how-to-set-the-description-parameter-of-a-page-from-a-template/16291

[2019-01-10 10:42] maelle opened #393 "Simplify templates by using baseof template?"
Cf https://gohugo.io/templates/base/#define-the-base-template

After all, all the templates use the same header, head, footer etc so we have quite a lot of duplication, which the baseof template would avoid.

[2019-01-10 13:01] maelle opened #396 "Article vs section"
Some templates have a main part defined in a `<section>` (e.g. commcalls/list.html) and others in an `<article>` (e.g. blog/list.html, blog/single.html).

Is this something we should make consistent? Cc @jeroen

[2019-01-10 13:16] maelle opened #397 "Should the tag pages use the archive partial?"
A question for you @stefaniebutland

At the moments nearly all lists of posts (by date, by author) use the archive partial which means it's just a list of titles and authors and you see all of them at a glance.

Meanwhile, tag pages e.g. https://ropensci.org/tags/software-peer-review/ have a layout that's more similar to the blog and you can't see all posts at once, you need to click through.

I t

[2019-01-10 13:17] maelle commented on #397
(and it'd be an easy change :slightly_smiling_face: )

[2019-01-10 13:34] maelle opened #398 "Remove hyphens from tag names"
Now that we use `preserveTaxonomyNames` tags like "software-peer-review" could become "Software Peer Review" which would be more readable/easier to parse:
* on the tags page,
* on the tag single page,
* in the Twitter metadata.

I'll write a script to update that.

Cc @stefaniebutland

[2019-01-10 13:37] maelle commented on #155
Code to retrieve info about events stored in a private repo.

[2019-01-10 13:37] #155 closed

[2019-01-11 19:46] stefaniebutland opened #399 "Add "find posts by author""
At bottom of https://ropensci.org/blog/ in "Find all blog posts and tech notes by tag and by date ..." could we add author to get: "Find all blog posts and tech notes by tag, by date, and by author"?

@maelle asking instead of pull request in case you know of any "confounding"(?) factors

[2019-01-14 05:01] stefaniebutland opened #400 "Events disappear from calendar too soon"
On the event calendar, displayed at https://ropensci.org/events/ an event is due to disappear when its date has passed.
Challenge I just noticed is that for an event of > 1 day like Stef in DC (~Jan 12-16), event disappears after first day. I expect this will happen for or rstudio::conf too. Is there any way to make it disappear after the end date?

[2019-01-14 06:43] #393 closed

[2019-01-14 07:16] #400 closed

[2019-01-14 07:16] maelle commented on #400
Good catch! I think it's now solved!

[2019-01-14 07:33] #399 closed

[2019-01-14 12:47] #389 closed

[2019-01-14 12:48] maelle commented on #389
@stefaniebutland I ended up adapting the head.html partial.

This change fixed the issue you mentioned and also made Twitter cards for authors pages a bit more informative. Try it out via https://cards-dev.twitter.com/validator :-)

[2019-01-14 13:58] maelle commented on #381
Ugly code used for cleaning authors metadata

[code]

[2019-01-16 15:31] stefaniebutland commented on #385
That's a tough question.
- "Content by...[author]" would indeed  look odd with no content
- but it would be quite rare that we're listing a talk/event from a person who is not listed on authors page e.g. Melanie Frazier only participated in a community call but she has an author page
- it does feel odd to use the old author format for an event

Can you think of specific examples where someone woul

[2019-01-16 16:58] maelle commented on #385
Yes, Julia Gustavsen who gave a talk about rOpenSci.

But if you think it is fine to have no content then we could switch!

[2019-01-17 17:09] stefaniebutland commented on #385
What's your honest opinion @maelle ?

[2019-01-17 18:00] maelle commented on #385
No opinion! For real! Which does not help I know.

[2019-01-17 18:06] stefaniebutland commented on #385
In that case, I think it makes sense to use a consistent authors format in our site, and in rare cases a person will have an empty author page.

[2019-01-17 19:46] stefaniebutland commented on #397
If I understand correctly, you are suggesting that a tag page like  https://ropensci.org/tags/software-peer-review/ should look more like https://ropensci.org/archive/.

I agree that it is much better to see whole list at a glance, rather than having to click through. So yes please!

[2019-01-17 21:57] stefaniebutland commented on #386
Done!

[2019-01-17 21:57] #386 closed

[2019-01-18 12:20] maelle opened #406 "List future events on fancy author pages?"
Related to #402

Should the new design include something about future events listed in our calendar that involve this person and if so, where in the page layout?

@stefaniebutland @jeroen

[2019-01-18 12:22] maelle commented on #406
Technically, I suppose it'd be some double `where` on all site pages (to extract events and comm calls with a first where, and in a second look for those with the person name in the attendee or author list).

[2019-01-18 12:46] maelle commented on #398
[code]

[2019-01-18 22:41] stefaniebutland opened #408 "Show single event date in human readable format?"
@maelle Could you show single event date in a more human readable format like "Tuesday, January 15, 2019 - Friday, January 18, 2019" instead of "Tuesday, 2019/01/15 - Friday, 2019/01/18"?

Current example https://ropensci.org/events/2019-01-15-rstudioconf/

not urgent so can depend on your workload

[2019-01-19 06:12] #385 closed

[2019-01-19 06:14] #398 closed

[2019-01-21 11:33] #408 closed

[2019-01-22 08:12] #397 closed

[2019-01-22 17:38] stefaniebutland commented on #406
It's a generous idea, but I feel like displaying future events for an author doesn't add very much value because it would be there for a short time and I don't imagine a person clicking on an author would pay much attention to that.

[2019-01-22 18:14] #406 closed

[2019-03-09 03:48] stefaniebutland opened #426 "Comm Call entry shows duplicate description"
Making comm call entry. Preview shows the description showing up in 2 places. https://deploy-preview-425--ropensci.netlify.com/commcalls/2019-03-27/

Maëlle said "I think I see the issue in the layout file"

[2019-03-09 06:47] maelle commented on #426
Fixed in https://github.com/ropensci/roweb2/commit/6ee1a4d2c86de08c3e74c39c2c06916b26167cd3 but you won't see the fix in your PR preview unless you rebase your PR, which I'm not sure is worth the bother since things will look ok after PR (I checked with a local example).

[2019-03-09 06:50] stefaniebutland commented on #426
Thank you!

[2019-03-11 19:28] #426 closed

[2019-03-12 05:32] stefaniebutland opened #427 "Fix timezone for commcalls PST / PDT"
Timezone of upcoming commcall at https://ropensci.org/commcalls/ and individual call e.g. https://ropensci.org/commcalls/2019-03-27/ says "PST", but for half the year it is "PDT". Maybe better to say "Wednesday, March 27, 2019, 2PM (Berkeley, CA)"?

The "find your timezone" link shows the correct timezone

Maëlle, I know we agreed timezone would "always be PST" but at the time I didn't realize the

[2019-03-13 09:44] maelle opened #430 "In authors there should be no "github.com" in GitHub usernames"
cc @stefaniebutland i'll fix this now, but good to know for next time :wink:

[2019-03-13 09:46] #430 closed

[2019-03-13 15:55] stefaniebutland commented on #430
Thank you!
Ack! I knew that! I had a weird feeling I had done that but was hurrying and totally forgot to check. 🙏

[2019-03-13 17:20] maelle commented on #430
Team work :dancing_women:

[2019-03-14 06:55] #427 closed

[2019-04-04 00:08] stefaniebutland opened #439 "Author page not linked to author Laura DeCicco"
I can't find the error that leads to Laura DeCicco's author page https://github.com/ropensci/roweb2/blob/master/content/authors/laura-de-cicco/_index.md

not listing this post on which she is an author https://ropensci.org/blog/2017/06/20/checkers/

[2019-04-04 00:12] stefaniebutland commented on #439
found the problem. fixing

[2019-04-04 07:30] #439 closed

[2019-04-04 07:31] maelle commented on #439
Good catch! I've fixed the issue by renaming the folder. We'll need to make sure there's no similar issue with similar names (i.e. names with a capital letter in the middle).

[2019-04-04 16:06] stefaniebutland commented on #439
Thank you @maelle - I was tempted to try that folder rename to fix but didn't know if there would be unanticipated effects

[2019-04-23 15:22] maelle opened #445 "Increase contrast in particular of links"
cf https://github.com/ropensci/dev_guide/issues/138#issuecomment-485804011

[2019-04-24 08:55] maelle opened #447 "Update templates because of Hugo changes"
[code]

[2019-04-26 10:12] maelle opened #451 "contrast in the footer image"
Not sure it's a big deal since it's used as a clickable footer but the URL in https://ropensci.org/public_images/ropensci_footer.png is quite light? @karthik

[2019-04-26 16:22] karthik commented on #451
Happy to bump the contrast on that. Not sure I have the original PSD file but I'll see about creating a new one.

[2019-04-26 17:17] maelle commented on #451
Thank you!

[2019-05-02 16:52] maelle opened #454 "Make sure the feeds for the commcalls and events pages are informative"
Or at least one of them i.e. either JSON or RSS.

[2019-05-02 21:49] stefaniebutland commented on #454
from Curtis RStudio @maelle

[2019-05-03 04:37] maelle commented on #454
What about timezone, what format do they need time/timezone in?

[2019-05-03 16:26] stefaniebutland commented on #454
asked Curtis for timezone deets

[2019-05-03 18:37] stefaniebutland commented on #454
From Curtis:

[2019-05-07 10:42] maelle commented on #454
@stefaniebutland the "find your timezone" link template we have now works no matter the season, right?

[2019-05-07 10:49] maelle commented on #454
Ah I found out why, that fantastic website uses location.

[2019-05-07 11:03] maelle commented on #454
I am a bit stuck. @karthik Do you have any advice here? To get the time in GMT in the JSON feed of the comm calls page, we'd need to know what the comm call timezone is, and this varies by season as Curtis said, either PDT or PST.

Do we need to enter a special field with the time in GMT, i.e. when creating a comm call, writing the correct time in GMT? That sounds both repetitive and risky.

[2019-05-07 11:05] maelle commented on #454
@stefaniebutland do we have any idea of the format RStudio calendar has? Could _they_ use some API to convert the Berkeley time, as long as they know it's a Berkeley time?

[2019-05-07 11:05] maelle commented on #454
The meetupr repo doesn't help, the Meetup API itself seems to output both local and UTC time.

[2019-05-07 11:56] #447 closed

[2019-05-07 12:42] #170 closed

[2019-05-07 13:06] maelle opened #458 "update font awesome?"
this would also mean updating templates since font-awesome got rid of "fa" in favor of "fas" etc.

[2019-05-07 13:09] #458 closed

[2019-05-07 13:36] maelle commented on #83
I'd like to close that issue once you @sckott are happy for these 3 blog posts. We can fix others as we find them, and html checking is the topic of another issue, #190.

[2019-05-07 13:56] maelle commented on #190
We'd need the html proofing to happen on the new pages introduced by a PR only (e.g. for a blog post, the blog post itself, and the new author pages), because we know there are issues in old pages.

[2019-05-07 14:03] maelle commented on #190
Also interesting https://circleci.com/blog/markdown-proofer/

[2019-05-07 14:06] maelle commented on #190
For blog posts created pages all correspond to a Markdown file so it'd be easier to check those, in particular

* links including internal links (to the website, and ref starting with #)

* do images exist (although that is not especially useful since humans reviewing the PR would see that)

* alt text (not empty, an human would need to check they are informative)

* code linting?

[2019-05-07 17:34] #83 closed

[2019-05-07 22:47] stefaniebutland commented on #454
connected Curtis and Maëlle on Slack to resolve this directly

[2019-05-09 07:31] maelle commented on #451
See https://github.com/ropensci/software-review-meta/issues/79 (that said we still need to update the footer for the packages that already feature it, since it wouldn't be easy to remove it from all READMEs).

[2019-05-22 08:36] maelle opened #463 "Add checks to PRs"
Something like https://github.com/marketplace/accesslint  but for Markdown.

[2019-05-22 08:46] maelle commented on #463
https://discourse.gohugo.io/t/access-lint-for-prs-to-hugo-website-github-repo-deployed-via-netlify/18832

[2019-05-23 19:03] jeroen commented on #381
What we talked about at all hands:

  - list packages that user maintains/contributed/reviewed. To summarize activity and contribution.
  - list other ropensci members that are similar/related (collaborators, etc). Give it a social aspect.
  - somehow let user show favorite packages or expertise

[2019-05-24 09:56] maelle commented on #381
What does "list other ropensci members that are similar/related (collaborators, etc). Give it a social aspect." mean? Adding tags?

[2019-06-04 06:59] #454 closed

[2019-06-04 07:20] maelle commented on #380
cc @sckott this is the issue & hack I mentioned in the review of your post. :-)

[2019-06-04 07:20] maelle commented on #349
Even more or are you happy with your current tagging?

[2019-06-04 11:25] maelle commented on #381
* Packages reviewed with URL to the software-review thread.
* 3 separate categories for packages maintained, authored and contributed to? Or only one?
* Regarding the social aspect, adding tags as I suggested above?

Reg layout, how would it look like?

[2019-06-04 11:37] maelle commented on #381
the "tags" wouldn't be called tags but another name, otherwise they'd be listed in the tags pages like blog posts etc. which doesn't seem good.

[2019-06-04 13:08] maelle commented on #381
We'd need a script to run every day to create an author index file for every new reviewer/package contributor that doesn't have one yet + to update some sort of JSON file with the contributions.

@jeroen would you list packages folks are author/maintainer of or also packages they are only contributor of? Which would mean creating an author page for every single contributor.

[2019-06-04 13:15] maelle commented on #381
the registry, that will have all names of reviewers/contributors of all sorts, is a JSON file, so it could be transformed with jq instead of R. :thinking:

[2019-06-04 13:15] maelle commented on #381
I need to find/write a function that does the same thing as Hugo's urlize function for transforming names into slugs/filenames.

[2019-06-04 13:23] maelle commented on #381
I wonder how hard/relevant it'd be to change the "authors" part of the URL into something else e.g. "community".

[2019-06-04 13:26] maelle commented on #381
At the moment https://ropensci.org/authors/ is a list sorted by number of posts. If the author pages list other contributions, how should names be sorted on that page?

[2019-06-04 13:31] maelle commented on #381
things that would be missing: contributions to other repos than packages/roweb2 (e.g. dev_guide), unconf participation. (to be continued)

[2019-06-04 13:33] maelle commented on #381
"somehow let user show favorite packages or expertise" is the thing I struggle the most with. It could be shown via a "tag".

[2019-06-04 13:47] maelle commented on #381
https://gohugo.io/templates/data-templates/

[2019-06-04 14:03] maelle commented on #381
we should also add academicons or whatever they're called, in particular for ORCID.

[2019-06-04 14:06] maelle commented on #381
And maybe keybase, would be good after last comm call!

[2019-06-11 13:52] maelle commented on #272
related PRs

- [ ] #476
- [ ] #477
- [ ] #478
- [ ] #479

[2019-06-12 06:33] maelle commented on #272
@sckott assigning you because the last related PR is about Disqus, and I think it won't be merged before my leave.

[2019-06-12 06:40] stefaniebutland commented on #349
will add more

[2019-06-12 06:41] maelle commented on #445
Other accessibility inc. contrast stuff to be tackled at the next website redesign.

[2019-06-12 06:41] #445 closed

[2019-06-12 06:58] #181 closed

[2019-06-12 16:26] sckott commented on #272
ok

[2019-06-17 10:39] maelle commented on #381
Summary of current challenges/questions

What we want to add

    Packages reviewed with URL to the software-review thread.
    3 separate categories for packages maintained, authored and contributed to? Or only one?
    Regarding the social aspect, adding tags as I suggested above?

Getting data about packages maintainers/authored/contributed to/reviewed = wrangling the registry (once it gets rev

[2019-06-18 15:47] maelle opened #484 "Remove academicons font once fa-icon exists"
cf https://github.com/ropensci/roweb2/pull/483#issuecomment-503178054

[2019-06-19 17:22] maelle commented on #381
maybe JS like for the packages page.
start with folks that already have an author index file.
having preview cards for packages like Twitter cards?

[2019-06-19 17:22] maelle commented on #381
collapse posts/packages list by default.
show whether maintainer or author not separate lists.
even a single list and maintainer/author/reviewer.

[2019-06-24 22:58] stefaniebutland opened #488 "Rm extra spaces on events attendees list display"
On the events page https://ropensci.org/events/ there is a space before and after each "attendee" name, or maybe before and after each element like commas. Makes display look awkward. Example:

![Screen Shot 2019-06-24 at 3 52 32 PM](https://user-images.githubusercontent.com/11927811/60057155-5a8e9580-9698-11e9-8c06-47a3bfa38ac5.png)

[2019-07-09 01:40] stefaniebutland commented on #349
Added tags to all calls. Now want to remove "community" tag from all comm calls using blogyaml pkg

[2019-07-19 12:10] noamross opened #497 "Link to forum from use-cases page"
https://ropensci.org/usecases/ is the first Google hist for "ropensci use cases." We should link from there to the increasingly rich use cases section of the forum.

[2019-07-31 21:41] stefaniebutland opened #499 "New twitter messes with the GH logo image display in the twitter card"
Tweet from Bob Rudis https://twitter.com/hrbrmstr/status/1155104691182694401

Implementation of twitter cards closed issue https://github.com/ropensci/roweb2/issues/290

[2019-08-02 00:16] stefaniebutland commented on #497
done

[2019-08-02 00:16] #497 closed

[2019-08-09 00:07] sckott opened #505 "Make citations for ropensci software avail. somewhere on the site"
I manually collect citations via google scholar alerts, put them in this repo (https://github.com/ropenscilabs/ropensci_citations) in a csv file, then when a twitter bot run via heroku tweets a new citation, we commit back to the repo to citations_used.json file https://github.com/ropenscilabs/ropensci_citations/blob/master/citations_used.json

So we have citaitons in a machine readable json forma

[2019-08-23 17:29] stefaniebutland opened #509 "Add text on our fiscal sponsorship to About"
In response to request from NumFOCUS for projects to add consistent text, add new paragraph at the end of the [about text](https://ropensci.org/about/)

We are fiscally sponsored by University of California, Berkeley and NumFocus

"[Project Name] is a Sponsored Project of NumFOCUS, a 501(c)(3) nonprofit charity in the United States. NumFOCUS provides [Project Name] with fiscal, legal, and administ

[2019-09-05 17:05] sckott opened #513 "Can we change hard coded urls to use the base url of the current context"
from #511

or are hard coded links what we want?

[2019-09-20 16:28] maelle commented on #484
I'm on leave so won't tackle this right now but https://fontawesome.com/icons/orcid?style=brands

[2019-09-23 19:08] #484 closed

[2019-10-07 20:18] stefaniebutland opened #522 "Fix author page for Mauricio"
Mauricio's author page [`https://ropensci.org/authors/pacha/`](https://ropensci.org/authors/pacha/) does not link to his [blog post](https://ropensci.org/blog/2019/05/09/tradestatistics/). I'm not sure how to fix his [author file](https://github.com/ropensci/roweb2/blob/master/content/authors/pacha/_index.md) or post yaml.

[code]

[code]

[2019-10-16 09:36] Bisaloo opened #526 "Add print CSS stylesheet"
Currently, if one tries to print blog posts from ropensci.org, it looks really bad.

This could be fixed by adding a CSS stylesheet for printing:

[code]

I'm not very good with design decisions but I guess it should decrease margins, possibly remove the `#footer` excepted for the logo and license.

I'm not sure I'll have much time for this in the coming weeks but if no one wants to tackle this, I

[2019-10-24 07:49] jeroen commented on #499
What do other organizations have? Usually you want transparency specifically because it looks nice on different backgrounds.

[2019-10-24 07:57] maelle commented on #499
Right. The tidyverse and r-lib ones have transparent background actually, and they're so dark they probably look as bad as the ropenscilabs one in Twitter night mode. :woman_shrugging:

[2019-10-24 08:31] #522 closed

[2019-10-24 08:32] maelle commented on #522
I can't remember _why_, but it turns out the folder name is important.

[2019-10-24 08:33] maelle commented on #522
URL https://ropensci.org/authors/pach%C3%A1-aka-mauricio-vargas-sep%C3%BAlveda/

[2019-10-24 08:46] maelle opened #528 "Where to suggest comm calls"
@stefaniebutland
https://ropensci.org/commcalls/ has a link to the discussion forum, should it be replaced with https://github.com/ropensci-org/community-calls?

[2019-10-24 16:30] sckott commented on #526
thanks @Bisaloo

I'm not really a web person, so can't comment on feasibility of that change here, but have you tried pandoc to convert the html files of your posts to pdf?  not sure if it will work, but might be a faster route to get what you need?

[2019-10-24 16:41] Bisaloo commented on #526
Yeah, this is what I've done in the mean time. I've grabbed the md file from this repo and just compiled it to pdf with pandoc (it's probably a bit more robust than doing html -> pdf (?)).

I lost the nice rOpenSci header and logo though but that'll do for now.

[2019-10-25 16:46] stefaniebutland commented on #528
replaced. Thank you

[2019-10-25 16:46] #528 closed

[2019-10-28 18:19] Bisaloo commented on #526
At the moment, I am using the [eisvogel pandoc latex template](https://github.com/Wandmalfarbe/pandoc-latex-template) and I modified the yml header in the following manner:

[code]

which gives this titlepage which uses rOpenSci color chart and logo:

![Screenshot from 2019-10-28 19-16-58](https://user-images.githubusercontent.com/10783929/67705620-9d020f00-f9b7-11e9-81cf-229ff5e1f183.png)

I'm ju

[2019-10-28 18:31] karthik commented on #526
@Bisaloo This seems fine for the purpose you describe. We are aware of the print style issues and are working on a major website redesign that will fix these and other issues.

[2019-10-30 10:20] maelle opened #535 "Add docs URL to packages table"
Cc @jeroen

[2019-10-30 11:26] maelle opened #536 "URL fixes"
- if shortlink, replace with the actual link
- for http links can one automatically replace them with https when the http page exists?
- replace ropensci.github.io links with docs.ropensci.org links?

[2019-10-30 11:46] maelle commented on #535
Maybe simply replace the GitHub URL with the docs URL when it exists.

To know what docs websites exist one step should probably be added to the registry making cc @sckott.

[2019-10-30 12:07] jeroen commented on #535
I think we should eventually be able to assume all packages in the registry have docs...

[2019-10-30 12:09] maelle commented on #535
When is eventually? :slightly_smiling_face:

[2019-10-30 12:25] maelle opened #537 "What should the default order of packages on the packages page be"
At the moment it seems... a bit random?

[2019-10-31 07:18] maelle commented on #536
Not many shortlinks, but will fix (manually) after my two current PRs are merged.

[code]

<table>
<thead>
<tr class="header">
<th style="text-align: left;">filepath</th>
<th style="text-align: left;">url</th>
<th style="text-align: left;">long</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">/home/maelle/Documents/ropensci/roweb2/content/blog/2019-06-13-commcall-jun2019.

[2019-10-31 15:53] #513 closed

[2019-11-03 14:35] jeroen commented on #535
I think we should be able to assume that now. We can check which of the packages still don't have docs.

[code]

We can try to fix remaining technical problems, or maybe some package can be removed from the registry.

[code]

For example `tabulizerjars` seems to be a support packages for `tabulizer`. It doesn't have any R functions and I don't think it has to be in the registry.

[2019-11-03 17:21] noamross opened #542 "Make it clearer when packages have been peer reviewed"
The table at https://ropensci.org/packages/ contains at least one package that is no longer part of rOpenSci e.g., `available` is now at `r-lib/available`.  I'm not sure how many others aren't there - I see that `rchie`, which was migrated out, is not in the table.

I also note it contains `ropenscilabs` packages without designating them as labs packages.  It would be helpful to do so, and also ma

[2019-11-04 03:12] stefaniebutland opened #543 "Broken bits in treeio pkg blog post"
In treeio blog post,
- https://ropensci.org/blog/2018/05/17/treeio/
- https://raw.githubusercontent.com/ropensci/roweb2/master/content/blog/2018-05-17-treeio.md

Broken stuff
1. image does not display; no alt text in place of image `![](https://raw.githubusercontent.com/GuangchuangYu/treeio/master/vignettes/figures/codeml.png)`
1.  broken link https://bioconductor.org/packages/devel/bioc/vignettes

[2019-11-04 04:02] stefaniebutland commented on #543
re: 4) above, roregistry https://ropensci.github.io/roregistry/registry.json links to the book (https://yulab-smu.github.io/treedata-book/), not the code https://github.com/YuLab-SMU/treeio

[2019-11-04 06:42] maelle commented on #542
@sckott any idea why `available` is still in the registry? Thanks!

[2019-11-04 20:14] sckott commented on #542
just removed available now, as well as icon. registry should be rebuilt on cron schedule in about an hour or so.

we don't have an automated thing for checking when repos leave our orgs, it doesn't happen very often so didn't build that in.

[2019-11-04 22:38] stefaniebutland opened #544 "Misnamed tag on tags page"
On the tags page https://ropensci.org/tags/ one tag should not be there `/tags/reproducible-research`

![Screen Shot 2019-11-04 at 2 37 12 PM](https://user-images.githubusercontent.com/11927811/68164008-a1c34780-ff10-11e9-8c06-87f9d6a8bd2d.png)

[2019-11-05 07:13] #544 closed

[2019-11-06 06:56] maelle opened #547 "Vertical misalignment when numbering paragraphs"
Seen in https://ropensci.org/blog/2019/11/05/tidync/

![image](https://user-images.githubusercontent.com/8360597/68275067-f4187b80-006a-11ea-9f3d-3ff757ba1801.png)

[2019-11-06 07:17] maelle commented on #543
Reg 1. the image doesn't exist so we might need to ask the author when we have solved 2, 3, 5 (in our docs building pipeline).

Reg 4. I'd suggest replacing the link with https://academic.oup.com/bioinformatics/article/19/2/301/372781

[2019-11-06 07:36] maelle commented on #463
Examples of GitHub actions linting pull requests
https://github.com/seferov/pr-lint-action
https://github.com/wagoid/commitlint-github-action

We probably wouldn't want to lint the code in code chunks, but to review the Markdown post.

The R script we'd use for checking things should be a rodev/roblog function this way authors could run it themselves too.

The GitHub action would result in a comme

[2019-11-06 08:09] maelle opened #548 "Hugo warning"
[code]

[2019-11-06 19:15] #488 closed

[2019-11-13 17:07] maelle opened #552 "Do we have a way for centering images"
We recommend using https://gohugo.io/content-management/shortcodes/#figure

We'd need different classes for figures (if we don't already) for different alignments maybe?

[2019-11-13 17:10] maelle commented on #552
In https://github.com/ropensci/roweb2/blob/master/themes/ropensci/static/css/style-new.css "figure" only comes up twice, with block display and left-align.

I guess any CSS tinkering is useless before the re-design.

What I'm not sure is whether I've understood it correctly that we'd actually need different figure classes.

@jeroen what do you think?

[2019-11-13 17:12] maelle commented on #552
The html workaround I know is https://stackoverflow.com/questions/16906923/centering-an-image-link-with-html-and-no-css

[2019-11-14 12:46] maelle opened #554 "git sizer"
Output from [git sizer](https://github.com/github/git-sizer)

| Name                         | Value     | Level of concern               |
| ---------------------------- | --------- | ------------------------------ |
| Biggest objects              |           |                                |
| * Blobs                      |           |                                |
|   * Maximum size

[2019-11-14 12:53] maelle commented on #554
related to #178 :slightly_smiling_face:

[2019-11-14 13:15] maelle opened #555 "Big images"
Thanks @noamross for the tip to use ncdu.

Related to #554

    10,4 MiB [##########] /2018-09-14-smapr
    8,1 MiB [#######   ] /2017-05-16-lingtypology
    6,3 MiB [#####     ] /2017-11-21-ochRe
    4,4 MiB [####      ] /2019-01-08-ozunconf
    4,1 MiB [###       ] /2018-06-08-unconf18_recap_4
    3,9 MiB [###       ] /2018-04-20-monkeydo
    3,9 MiB [###       ] /2017-11-14-realtime
    3,0 MiB

[2019-11-14 13:17] maelle commented on #555
It might be a good idea to

* Reduce some image sizes (e.g. the gif in smapr) -- or host them somewhere else?

* Have some guidance on image sizes for new content.

Or maybe it is fine to have these big files?

[2019-11-14 13:19] maelle commented on #555
If we add guidance about image size for new blog posts (cc @stefaniebutland) we need figures and also tips or a link to tips (how does one reduce an image, when generated from R or not, etc.).

[2019-11-14 13:29] maelle opened #556 "Switch to page bundles?"
https://gohugo.io/content-management/page-bundles/

Con: switching will be work.
Pros: easier for contributors to know how to contribute their content (one folder as opposed to one Markdown file here, images there).

[2019-11-14 13:31] maelle commented on #556
From https://gohugo.io/news/0.32-relnotes/ "This makes the complete article with both text and images portable (just send a ZIP file with a folder to your editor), and it can be previewed directly on GitHub." :heart_eyes:

[2019-11-14 13:43] maelle commented on #556
I'll test whether one can already use the feature for new blog posts.

[2019-11-14 14:17] maelle commented on #556
it seems we could have new posts as page bundles without converting all old posts.

So

* do we want new posts to use page bundles? I think it makes sense because it makes instructions easier?
* do we want to convert old posts? it's less useful, but would be a way to see what belongs to what, and to see which images still come from the old website source.

[2019-11-14 15:23] maelle opened #558 "Do we want blog post authors to add their Rmd source?"
If not can we gitignore Rmds?

cc @stefaniebutland

[2019-11-14 15:24] maelle commented on #558
Ah :eyes: https://github.com/ropensci/roweb2/blob/bd38ab2e032f6a575bfab4c20d0feb2cfd1229af/.gitignore#L22

[2019-11-14 16:17] stefaniebutland commented on #558
Question: does this mean the Rmd will NOT be kept when the post is merged, but WILL be present in the pull request I review?

[2019-11-14 16:20] maelle commented on #558
Ah I think it's either all or nothing :thinking:

[2019-11-14 16:58] stefaniebutland commented on #558
yep, workloopR Rmd was merged today.

[2019-11-14 17:25] stefaniebutland commented on #556
Thinking through my review process. If a post is created in Rmd then I need to do review in the Rmd (e.g. for GitHub commit suggestions). Therefore it's impt for Rmd and md to be in the pull request.

For any changes/helpers for blog post submission, we need to think about how that will affect the review process.

[2019-11-20 18:32] maelle commented on #556
switching for future posts, not for previous content at the moment.

[2019-12-03 03:41] karthik opened #567 "Why does this file sit on our root?"
https://github.com/ropensci/roweb2/blob/master/author-name.md

Any idea @stefaniebutland
Was this from a blog post? Can we delete it?

[2019-12-03 03:43] stefaniebutland commented on #567
Maëlle created it as template for an author file

Linked to from https://github.com/ropensci/roweb2#create-an-authors-index-file-for-yourself-author-file

[2019-12-03 03:50] karthik commented on #567
ok thanks. Seems like an odd place for it but I'm guessing she had good reason for it @maelle

[2019-12-03 05:21] maelle commented on #567
Not at all and I can move it to roblog.

[2019-12-05 06:04] maelle commented on #567
Ok so now the template is in roblog https://github.com/ropenscilabs/roblog#author-file (whose docs will be improved as @stefaniebutland and I collaborate on the guidance).

[2019-12-05 06:05] #567 closed

[2019-12-05 06:06] maelle commented on #555
@stefaniebutland where do I best store such ideas for the guidance?

[2019-12-05 06:08] maelle commented on #558
We should also add this to the guidance ("add the Rmd to your PR so that Stef can make inline suggestions at the source" or so).

[2019-12-05 06:12] maelle commented on #463
We probably want to flag big files cf #555

[2019-12-05 06:20] maelle commented on #537
any opinion @jeroen @sckott, should we reorder the registry by alphabetical order or so? Or a random order every day? :-)

The current order is repos hosted in other orgs, then ropensci, then ropenscilabs.

[2019-12-05 06:28] maelle commented on #542
For discussion of keeping the list up to date see https://github.com/ropenscilabs/makeregistry/issues/16

@noamross you're also suggesting to make peer-reviewed status easier to see, do you have any particular idea of how this could look?

Reg labs packages I suppose this is linked to other discussions we have.

[2019-12-05 06:34] maelle commented on #548
I don't see that on Netlify.

[2019-12-05 06:34] #548 closed

[2019-12-05 06:40] maelle commented on #190
dup of #463

[2019-12-05 06:40] #190 closed

[2019-12-05 09:29] maelle commented on #552
cf #570

[2019-12-05 12:20] #535 closed

[2019-12-05 14:50] noamross commented on #542
I think the current icon looks like "discuss this package," while a checkmark or something would be more appropriate.  But I think in any case it should be explicit with a column title of "peer-reviewed", or maybe the field should just contain all-text badges, e.g., `[CRAN] [PEER-REVIEWED] [STAFF MAINTAINED] [ARCHIVED]`.

I'm working on the draft maintenance policy which I hope to get to everyone

[2019-12-05 16:08] sckott commented on #537
maybe random? so that different pkgs get to be at the top?

[2019-12-05 20:56] stefaniebutland opened #572 "Comm call disappeared from Upcoming Events too early"
On 2019-12-05, event https://ropensci.org/commcalls/2019-12-05/ no longer appeared on https://ropensci.org/events/ page

Maëlle I think you fixed it before to disappear the day after the event.

[2019-12-06 07:03] maelle commented on #543
@GuangchuangYu there are a few broken links in your blog post, could you please make a PR to replace them?

Note that your package now has a pkgdown website up at https://docs.ropensci.org/treeio (cf  https://ropensci.org/technotes/2019/06/07/ropensci-docs/) that you can use to link the vignettes. 🙂

[2019-12-07 05:40] GuangchuangYu commented on #543
I have problems in git clone the repo.

[code]

Can you kindly help me replace the links with the followings?

1. <https://yulab-smu.github.io/treedata-book/img/codeml.png>
2. <https://yulab-smu.github.io/treedata-book/chapter1.html>
3. <https://yulab-smu.github.io/treedata-book/chapter3.html>
4. <https://academic.oup.com/bioinformatics/article/19/2/301/372781> as recommended by @maelle

[2019-12-07 07:17] maelle commented on #543
Ok I'll make the replacements, thanks a ton!

[2019-12-11 12:05] maelle commented on #543
I also copy pasted the latest installation instructions from BIOC (i.e. not using bioclite.R).

[2019-12-11 12:05] #543 closed

[2019-12-11 12:50] maelle commented on #572
I can't reproduce the bug locally.

@karthik I'd need two pieces of info from you please :-)
* at what time is the daily website build triggered?
* what's the timezone for that build?

[2019-12-11 12:53] maelle commented on #572
I am guessing 9:10AM my time :thinking:

[2019-12-11 20:26] #572 closed

[2019-12-11 20:36] maelle opened #576 "Rename upcoming events?"
To recent/upcoming events?

Or is it fine as is @stefaniebutland?

[2019-12-11 20:51] stefaniebutland commented on #576
Fine as is, thank you

[2019-12-11 20:57] #576 closed

[2019-12-18 23:16] stefaniebutland opened #585 "Broken image in blog post"
In https://ropensci.org/blog/2013/06/19/usgs-app/

![Screen Shot 2019-12-18 at 3 15 34 PM](https://user-images.githubusercontent.com/11927811/71131320-3f18c900-21a9-11ea-8aef-e6c63de74ab3.png)

[2019-12-19 05:17] maelle commented on #585
Right. Is the app still online @sckott ? Maybe I should use internet archive.

[2019-12-19 05:55] sckott commented on #585
woah, throw back wednesdays, seems like so long ago

i don't know, i'll have a look tomorrow and see if I can at least get it running

the image is here in roweb repo https://github.com/ropensci/roweb/blob/master/assets/blog-images/usgsapp.png

[2019-12-19 08:20] maelle commented on #585
Actually here it was already Thursday so very fitting for a throw back Thursday :stuck_out_tongue_winking_eye:

Thanks, I'll assign this to you.

Thanks @stefaniebutland for catching it.

[2019-12-19 08:32] maelle opened #586 "Add an alert to the oldest posts?"
I like the alert banner on https://kb.iu.edu/d/abwp

[2019-12-19 08:33] maelle commented on #586
cc @stefaniebutland

[2019-12-19 09:34] maelle opened #587 "Replace some github.com URLs with docs.ropensci.org URLs"
Suggestion by @jeroen

First, check all DESCRIPTION files have the GitHub URL (otherwise it won't be linked from the pkgdown website).

Then, make the replacement semi-automatically (I suspect sometimes the link to the GitHub repo goes with a text like "the GitHub repo" in which case we still want to link the GitHub repo I suppose).

[2019-12-19 18:45] stefaniebutland commented on #586
I like the banner too.
Would we need to say it's "archived"? or just say the content is no longer maintained.

[2019-12-19 20:07] maelle commented on #586
Yes, the "archived" word is probably not optimal for the blog.

We'd need to define what's "old".

Technically,

* it could be handled by adding a preface YAML field to the corresponding R Markdown (added automatically with an R script run once in a while) like what you do in https://github.com/ropensci/roweb2/blob/master/content/blog/2019-10-17-news-oct2019.md

* Or, by Hugo, depending on the dat

[2019-12-20 17:49] stefaniebutland opened #591 "Is `twitterImg` in blog post YAML working?"
In this [blog post](https://raw.githubusercontent.com/ropensci/roweb2/master/content/blog/2019-12-20-news-dec2019.md) I used `twitterImg: img/blog-images/2019-12-20-news-dec2019/2months2mins_hex.png` but in [twitter card validator](https://cards-dev.twitter.com/validator), preview of image does not show.

Is it me?

[2019-12-20 18:22] maelle commented on #591
What is the preview link?

[2019-12-20 18:24] stefaniebutland commented on #591
published https://ropensci.org/blog/2019/12/20/news-dec2019/

[2019-12-20 20:04] maelle commented on #591
Fixed it.

I'm a bit annoyed because it doesn't work in previews where the baseURL doesn't end with a slash, whereas in the production environment the baseURL (set in the config of our site) ends with a slash. Oh, well, not too bad.

[2019-12-20 20:04] #591 closed

[2019-12-20 20:23] stefaniebutland commented on #586
I'm leaning toward not automatically adding a banner. Some posts will age much better than others so a setting by date of post would make some good posts look not so good

If a post was really outdated we could manually add a preface

[2020-01-16 09:16] maelle opened #598 "Should we add JSON-LD to pages"
To help with SEO? Cc @cboettig

Cf e.g. https://www.fabian-keller.de/blog/adding-json-ld-to-a-personal-website/

Hugo Academic theme does that a bit (for the website homepage, for blog posts) https://github.com/gcushen/hugo-academic/search?q=schema&unscoped_q=schema

[2020-01-16 09:24] maelle commented on #598
I don't think it'd take much time to do that, and a tech note could mention that + the jsonld package + some beginner facts about JSON-LD (I am a total JSON-LD newbie).

[2020-01-16 09:30] maelle commented on #598
https://moz.com/blog/json-ld-for-beginners

https://developers.google.com/search/docs/guides/intro-structured-data

[2020-01-16 09:34] maelle commented on #598
https://support.google.com/webmasters/answer/7445569 (although blog posts aren't a supported type yet)

[2020-01-16 10:20] maelle commented on #585
It doesn't seem fixed, did my PR at the time mess things up?

[2020-01-16 16:14] #585 closed

[2020-01-16 16:15] sckott commented on #585
was in a PR that we didn't merge, should be fixed now

[2020-01-16 16:22] maelle commented on #585
Thank you!

[2020-01-23 09:14] #586 closed

[2020-01-23 09:15] maelle commented on #536
done, cf https://ropensci.org/technotes/2019/12/19/urls-tidying/

[2020-01-23 09:15] #536 closed

[2020-01-24 00:16] stefaniebutland commented on #349
done in https://github.com/ropensci/roweb2/pull/600

[2020-01-24 00:16] #349 closed

[2020-01-24 00:22] stefaniebutland commented on #298
closing since we now try to reply-all to emails that come to info@ropensci.org

[2020-01-24 00:22] #298 closed

[2020-02-08 04:59] maelle opened #610 "Blog instructions in README"
@stefaniebutland should we fix the template stuff there OR replace the whole section with a link to the guidance?

[2020-02-08 05:00] maelle commented on #610
I'd be in favor of replacing the whole section but that'd be a soft launch.

[2020-02-08 05:06] maelle commented on #610
I now see, sorry, it was the RStudio menu thing.

@stefaniebutland cf https://github.com/ropensci/roweb2/issues/610

[2020-02-08 20:05] stefaniebutland commented on #610
What do you mean by "the RStudio menu thing". #610 is this issue so not sure

[2020-02-09 02:25] maelle commented on #610
Sorry I meant to post in the roblog issue.

[2020-02-12 10:46] maelle opened #615 "Rethink table styling?"
From a blog author

* no alternative bars between rows?
* no color?
* stop capitalizing column names?

[2020-02-13 12:07] maelle opened #616 "Add twitter:image:alt in Twitter cards"
for the ones with an image that's not the logo. :thinking:

[2020-02-27 10:42] maelle opened #622 "For YAML the code highlighting is very dark"

[2020-02-27 11:02] maelle commented on #622
Apparently for each language we want to highlight we need to add the relevant library in the auto-syntax partial.

[2020-02-27 11:07] #610 closed

[2020-02-27 11:08] maelle commented on #552
Current guidance https://blogguide.ropensci.org/technical.html#addimage

[2020-02-27 11:08] #552 closed

[2020-02-27 11:09] maelle commented on #463
I suppose we could run roblog stuff for every commit under content/blog and content/technote, the results would be in the check run log.

[2020-02-27 11:10] maelle commented on #558
https://blogguide.ropensci.org/technical.html#make-a-pull-request

[2020-02-27 11:10] #558 closed

[2020-02-27 11:40] maelle commented on #246
related #622

[2020-02-28 11:46] maelle opened #627 "Add index.html to ignoreFiles and gitignore"
This way blog post authors won't need to remember to delete it, neither Hugo nor git will use index.html of leaf bundles.

Once I've changed the config next week, I'll update the guidance.

Cc @ropensci/blog-editors

[2020-03-02 12:33] maelle opened #628 "Fix post using the "technote" category"
The correct category is "technotes".

I currently don't remember why we have both the category and file structure, maybe category isn't even needed anymore.

[2020-03-02 13:32] #627 closed

[2020-03-02 13:47] maelle commented on #622
Ideally, but maybe not easily, there could be some post-processing adding the highlighting for any language present in the page (so the JS library for the language isn't loaded for all pages). :thinking:

[2020-03-03 11:10] maelle commented on #628
Note that when using the blogdown addin, categories is created as a slice.

[2020-03-05 10:29] maelle opened #634 "In future redesign, add icon to edit posts?"
I.e. when reading a blog post, add a direct link to its Markdown/RMarkdown source?

It'd be useful for folks who want to fix a typo, and future authors who want to compare the rendered version with the source.

See e.g. the button on my blog posts https://masalmon.eu/2020/02/29/hugo-maintenance/

cc @stefaniebutland

[2020-03-05 14:34] #628 closed

[2020-03-05 18:11] stefaniebutland commented on #634
I LOVE that

[2020-03-09 13:17] maelle opened #638 "More than one partial load jquery"

[2020-03-09 13:24] maelle commented on #638
(including head, that I had created, so maybe my fault!)

[2020-03-09 22:11] sckott opened #639 "discourse embed is too narrow"
@maelle looks like the discourse embed for at least this post that just got a discussion item is too narrow

<img width="875" alt="Screen Shot 2020-03-09 at 3 05 39 PM" src="https://user-images.githubusercontent.com/577668/76261569-88603e00-6217-11ea-87c9-e05303b1b5c4.png">

vs. what I think looks better/correct

<img width="851" alt="Screen Shot 2020-03-09 at 3 10 29 PM" src="https://user-images.

[2020-03-10 06:54] maelle opened #640 "Fix metadata of two posts"
As reported by @steffilazerte with her good assumptions ("Perhaps because taxadb has two topicIDs and spocc has two authors?")

[code]

[2020-03-10 06:56] maelle commented on #639
Ok so it's tech notes vs blog/comm calls, I'll look into this.

[2020-03-10 07:11] #640 closed

[2020-03-10 08:38] maelle commented on #639
@sckott if you look at the embed thing via Chrome/Firefox devtools you'll see it's a full html page within the page, with a head. Is this needed? Can this be tweaked somehow?

[2020-03-10 08:56] maelle commented on #634
cc @karthik -- we'd probably need an icon that looks discrete+elegant, with a title that makes it clear what it does on hovering ("View/amend page source").

[2020-03-10 09:09] maelle commented on #73
Proposed workflow (not to be implemented now, just writing it here for not forgetting about it).

Semi-automatically convert use cases from the forum + maybe a few from the old html use cases #299 to some sort of Markdown/YAML format under content/usecases (with author, package, title, link, code, image etc. as fields -- leaf bundles to make images easier to store).

[2020-03-10 15:06] sckott commented on #639
thanks!

[2020-03-10 15:35] #639 closed

[2020-03-10 15:39] #622 closed

[2020-03-10 16:51] maelle opened #642 "Create author file archetype"
then in the guidance there could be a hugo one-liner to create the file, as a complement to the current guidance.

[2020-03-10 17:00] maelle commented on #642
archetype added, the rest would happen in roblog if ever https://github.com/ropenscilabs/roblog/issues/26

[2020-03-10 17:00] #642 closed

[2020-03-20 19:46] stefaniebutland opened #649 "Slides link not showing in comm call resources list"
This

[code]

in https://github.com/ropensci/roweb2/blob/master/content/commcalls/2020-03-18.md

is not rendered in https://ropensci.org/commcalls/2020-03-18/

Can't figure out what's wrong

[2020-03-21 06:14] maelle commented on #649
Nothing was wrong in the source, Netlify had a system error. I've made a commit to force a deploy and all is well now.

[2020-03-21 06:14] #649 closed

[2020-04-04 19:10] maelle opened #653 "Add an output hook to Rmd template"
To support https://gohugo.io/content-management/syntax-highlighting/#highlighting-in-code-fences (especially highlighting lines 😍)

Ouput hook cf https://bookdown.org/yihui/rmarkdown-cookbook/hook-hide.html

The setup chunk is getting long, maybe the plot and output hooks should be exported functions of a hugormd package. Pro: shorter setup chunk, tests. Con: users need to install a package. The c

[2020-04-04 20:23] stefaniebutland commented on #653
seems like a big con to me

[2020-04-05 04:30] maelle commented on #653
Yeah, and your idea to add a comment before the plot hook can be applied to this hook to make it less weird, so I'll just add a few lines to the Rmd template.

I'm sure I'll find many opportunities to use line highlighting in the future :grin:

[2020-04-05 13:45] maelle commented on #653
Examples https://deploy-preview-651--ropensci.netlify.com/blog/2020/04/05/syntax-highlighting/

The PR #651 amends the archetype, adding a comment before the existing options and hook, and adding a source hook.

[2020-04-06 18:01] #653 closed

[2020-04-08 06:36] Bisaloo opened #656 "Add tooltip when hovering over footnote numbers"
Many rOpenSci blog posts include a lot of footnotes. Currently, to read the footnote text, you have to click on the number, which brings you to the bottom of the page. To go back, you have to click "previous page" on your browser or scroll up but in both cases, you lose where you were in text and it disrupts the reading flow. It would be more convenient if the footnote text appeared in a tooltip w

[2020-04-08 08:41] maelle commented on #656
Interesting idea!

Just to be sure, to go back to the text you can click on the arrow at the end of the footnote too? Or doesn't this work for you?

[2020-04-08 08:57] maelle commented on #656
![Screenshot from 2020-04-08 10-45-45](https://user-images.githubusercontent.com/8360597/78765081-c623c400-7987-11ea-9c23-4165ca3a9c26.png)

Screenshot attached to clarify

[2020-04-08 09:02] Bisaloo commented on #656
Oh yes, that's right. I missed this but I think I like it even less than clicking "previous" on your browser since it doesn't go back to the exact place you were before, and just put the line with the footnote number at the top of the page.

To add some context, I think I was expecting something of the sort because I've been used to journals allowing you to get the details of a reference without s

[2020-04-08 09:40] Bisaloo commented on #656
This is pretty much what I had in mind: http://hiphoff.com/creating-hover-over-footnotes-with-bootstrap/

[2020-04-08 17:31] maelle opened #658 "old embedded gists?"
switch to https://gohugo.io/content-management/shortcodes/#gist

cc @sckott

[2020-04-08 21:16] sckott commented on #658
thanks @maelle

definitely some affected posts:

[code]

https://ropensci.org/blog/2012/11/26/is-invasive/ - there should be an embedded gist on that post

[2020-04-08 21:28] stefaniebutland commented on #658
I feel like I must have embedded tweets in the past.

@maelle is there a way to scan posts for that?

Is there another kind of html in a post that I might not be thinking of?

[2020-04-09 03:19] maelle commented on #658
As soon as I can I will render the website locally and look for "raw html omitted" messages.

Reg tweets I am pretty sure I changed them all to shortcodes.

[2020-04-09 03:21] maelle commented on #658
Cf #476

[2020-04-09 05:03] maelle opened #659 "look for and fix other raw html"
cf https://github.com/ropensci/roweb2/issues/658#issuecomment-611204519

cc @stefaniebutland

[2020-04-09 05:10] maelle opened #661 "broken leaflet"
in https://ropensci.org/blog/2019/02/26/stats19/

However in the blog guide we decided not to allow leaflet maps in the website. cf https://blogguide.ropensci.org/technical.html#styleguide

Should we actually allow them, or at least fix this post, by "turning unsafe on"? https://gohugo.io/getting-started/configuration-markup/ Preview with unsafe turned on https://deploy-preview-662--ropensci.netli

[2020-04-09 05:14] maelle commented on #661
There's also https://ropensci.org/blog/2013/07/04/rbison-geoson/ where there was a map embedded from GitHub which no longer works. @sckott

Maybe it's fine to just turn unsafe on? I'll wait for opinions.

[2020-04-09 05:15] maelle commented on #661
And in https://ropensci.org/technotes/2018/05/18/drake-hpc/ there's an animation.

[2020-04-09 05:19] maelle commented on #661
For maps, it seems it's easy to embed them via gist see https://deploy-preview-660--ropensci.netlify.com/blog/2013/10/23/style-geojson-polygon/

But not for animations though.

[2020-04-09 05:43] maelle commented on #661
For reference https://github.com/gohugoio/hugo/issues/6581#issuecomment-562088191

[2020-04-09 07:17] maelle commented on #659
[code]

some of this are simply line breaks e.g. `</br>` see https://ropensci.org/events/2019-02-12-dataone/index.html but also missing pictures e.g. https://ropensci.org/blog/2019/06/04/rromeo/

I think I'm in favor of setting unsafe to TRUE for the time being. :-)

[2020-04-09 07:18] maelle opened #663 "find occurrences of figures and replace them with Hugo figure shortcode"
e.g. https://github.com/ropensci/roweb2/blob/master/content/blog/2019-06-04-rromeo.md

[2020-04-09 07:20] maelle commented on #663
[code]

[2020-04-09 09:23] maelle commented on #659
https://ropensci.org/blog/2019/10/29/skimrv2/ has no table after "within an RMarkdown doc should produce something nice by default." until we merge #662

In the future we could switch back to unsafe=FALSE when Hugo is less strict (they plan to implement another "html sanitizer", https://github.com/microcosm-cc/bluemonday

[2020-04-09 09:47] #659 closed

[2020-04-09 09:47] #661 closed

[2020-04-09 09:49] maelle opened #664 "Switch to (not Goldmark) secure again"
Depending on https://github.com/gohugoio/hugo/issues/6530

Cf #662

[2020-04-09 15:32] #658 closed

[2020-04-09 17:22] maelle commented on #463
Reg URLs https://vsoch.github.io/2020/urlchecker/

[2020-04-11 06:42] maelle commented on #246
https://github.com/ericwbailey/a11y-syntax-highlighting

[2020-04-16 18:52] stefaniebutland commented on #663
formatting of speakers bios in this community call post is messed up (because of figures?)

live: https://ropensci.org/blog/2020/03/04/commcall-mar2020/
raw: https://raw.githubusercontent.com/ropensci/roweb2/master/content/blog/2020-03-04-commcall-mar2020/index.md

It's likely that all past commcalls blog announcments have same issue. Filenames are like `commcall-mar2020`

[2020-04-17 14:50] maelle opened #673 "shortcodes for some patterns"
To keep in mind for the redesign. Shortcodes might be needed anyway for some things (i.e. for translating some html layouts into things we can use from Markdown content).

* Shortcode for image near text as a grid row?

* Shortcode for banner of text like there was in the spatsoc post?

[2020-04-17 15:19] maelle opened #674 "figures served from another repo"
assets/ blabla

[2020-04-17 20:15] stefaniebutland opened #675 "Remove use of figure titles in posts"
Figure titles currently appear same as section headings so they look bad. Can be re-added after new website is launched.

[2020-04-18 04:22] maelle commented on #675
Relatedly: I was actually wondering what an use case for a figure title would be by the way, so if you see any in other websites (title different from a caption) I'd love to see it!

[2020-04-18 13:57] maelle opened #676 "Figure with two images"
There's gallery at the moment but it does not have caption etc. Example: forensic science post.

[2020-04-18 14:10] maelle opened #677 "imgur images"
Save them in the website source instead?

[2020-04-21 12:51] maelle opened #678 "Open random pages to check stuff"
Not really monkey-testing, opening 10 random pages.

[code]

[2020-04-21 13:08] maelle opened #679 "Layout for "2 months in 2 minutes"?"
Something to keep in mind for the redesign, we might want special layouts for such posts.

The layout name would be indicated in posts' frontmatter. https://gohugo.io/templates/lookup-order/

[2020-04-21 13:16] maelle commented on #676
https://www.sitepoint.com/quick-tip-the-right-way-to-use-figure-and-figcaption-elements/

(if there's no example in the wireframes)

[2020-04-21 15:15] #675 closed

[2020-04-23 14:10] #663 closed

[2020-04-23 14:26] maelle opened #683 "Have a lightswitch button for changing code highlighting styles in some posts"
Cf #666

It could be absent by default, present if there's "button: true" in the YAML.

Not mission-critical, maybe nice to have, and in any case easy to add, so keeping the idea in an issue.

[2020-04-23 17:03] stefaniebutland opened #684 "Add space in imgtxt shortcode"
inside `imgtxt` can I use nbsp to create an empty line before "Julia on GitHub, Twitter...."?

[code]

In the live page, there's no empty line https://ropensci.org/blog/2020/03/04/commcall-mar2020/

[2020-04-23 17:54] maelle commented on #684
No that's something _I_ have to fix, commit coming in a bit.

https://www.youtube.com/watch?v=-pzckbNyqfc

[2020-04-23 17:56] #684 closed

[2020-04-24 04:21] maelle commented on #683
The "dark mode" could be #667

[2020-04-24 15:08] sckott commented on #683
I like the idea of the button to switch highlighting mode.

[2020-04-27 21:50] sckott opened #686 "Rclean links broken"
at least all the links to the docs page for this pkg dont work in this post https://ropensci.org/blog/2020/04/21/rclean/

the link is given as https://docs.ropensci.org/rclean but needs to be https://docs.ropensci.org/Rclean

[2020-04-28 06:11] maelle commented on #683
That button would have to be activable by a key press too https://engineering-shiny.org/matters.html#web-accessibility

[2020-04-28 14:18] #686 closed

[2020-04-30 13:48] #246 closed

[2020-05-02 14:57] #638 closed

[2020-05-13 12:01] maelle commented on #656
Thanks!

@jeroen mentioned we could maybe add footnote links at the Markdown rendering stage (rather than adding JS), I'm investigating how it could work.

[Hugo forum topic](https://discourse.gohugo.io/t/how-to-add-title-tooltip-with-footnote-content-to-footnote-link/25498)

[2020-05-18 06:01] maelle commented on #656
No answer on Hugo forum yet.

I read about [littlefoot](https://github.com/goblindegook/littlefoot) in [this blog post](https://blog.jemu.name/2020/05/migrating-themes-and-overhauling-the-rest/)

[2020-05-18 06:06] maelle opened #699 "Make plots link to themselves?"
cf https://blog.jemu.name/2020/05/migrating-themes-and-overhauling-the-rest/#hugo-friendly-plot-output

[2020-05-18 06:08] maelle opened #700 "Code folding?"
https://blog.jemu.name/2020/05/migrating-themes-and-overhauling-the-rest/#chunk-and-code-folding

[2020-05-18 06:13] maelle opened #701 "Auto-linking headers"
This will be very neat https://blog.jemu.name/2020/05/migrating-themes-and-overhauling-the-rest/#commento-login-box-container#the-very-last-bit-auto-linking-headers

[2020-05-18 07:21] maelle commented on #701
If I followed correctly, it'll just come with one of next Hugo updates, so just something to be aware of.

[2020-05-18 07:26] maelle commented on #677
Related to #304

[2020-05-18 07:34] maelle commented on #537
fixed by #696

[2020-05-18 07:34] #537 closed

[2020-05-18 07:39] #272 closed

[2020-05-18 07:41] maelle commented on #463
I think there's a lot of potential in GitHub Actions workflows triggered by labeling a PR + re-using existing actions (for URLs, maybe spell checks, etc).

[2020-05-18 16:59] maelle commented on #701
:star_struck: https://gohugo.io/getting-started/configuration-markup#heading-link-example

[2020-05-18 17:36] maelle commented on #656
Maybe @jeroen's idea could work if there were a thing called a Markdown render hook for footnotes like the one there is for headers now https://github.com/gohugoio/hugo/issues/6713#event-3342223328

[2020-06-25 06:38] maelle commented on #699
render hook for image https://gohugo.io/getting-started/configuration-markup

[2020-06-29 08:40] maelle commented on #679
@stefaniebutland this is the issue where to write whether you'd like to enter content for "2 months in 2 minutes" in a different way (e.g. for part of it using YAML instead of writing stuff). :wink:

And also if any tool could help you get the content more easily, of course.

[2020-06-29 08:44] #396 closed

[2020-06-29 18:40] karthik commented on #634
OK I have asked him to work on this.

[2020-06-30 05:49] maelle commented on #634
closing this here since it's tackled there. thanks!

[2020-06-30 05:49] #634 closed

[2020-07-02 13:20] maelle commented on #598
There's an internal Hugo schema template so in the new website layouts I've added

[code]

to the head partial which can't heart.

It doesn't generate that in a script though, it's as metadata. E.g. for a recent post of @stefaniebutland's in the head there's

[code]

A more involved approach https://dev.to/pdwarkanath/adding-structured-data-to-your-hugo-site-58db -- noting this here but I won't wo

[2020-07-05 05:40] stefaniebutland opened #712 "oversize images in blog post"
See badges images in https://ropensci.org/technotes/2019/10/09/cran-checks-api-update/

[2020-07-06 14:58] #712 closed

[2020-07-06 15:58] stefaniebutland commented on #679
Agreed we'll discuss when new website is settled. Make it look nicer.

Also Scott, Stef & Maëlle can figure out how to make it faster using scripts to copy some newsletter content to 2mon2min template

[2020-07-12 01:54] stefaniebutland commented on #505
Can citations be displayed with most recent first please?

[2020-07-20 23:18] jonkeane opened #716 "Redirect to custom docs urls if they exist or are being used?"
I recently finished the onboarding for [dittodb](https://github.com/ropensci/dittodb/), and I'm hosting my own docs outside of rOpenSci's docs (there are a few different reasons for this that I can explain in more detail, but don't want to distract). From what I'm seeing the rOpenSci docs are still generated automatically and are linked to from [the packages](https://ropensci.org/packages/) page.

[2020-07-21 07:13] maelle commented on #716
:wave: @jonkeane! Thanks for taking the time to explore things. However we're against such special rules for a few reasons.

* It'd mean adding complexity to the registry and docs building pipelines that are already quite complex.

* If your custom domain website disappears, we wouldn't know whereas the docs building pipeline shows docs status. It [happened to e.g. rtweet.info](https://twitter.com

[2020-07-21 07:13] #716 closed

[2020-07-21 07:57] maelle commented on #716
For info, I've just checked that [downlit's autolinking](https://github.com/r-lib/downlit#cross-package-links) (used in pkgdown and hugodown) gives priority to your website cc @jeroen (the rOpenSci docs [special case](https://github.com/r-lib/downlit/blob/7677e40628308380706f7025c672d76eb8970689/R/metadata.R#L89) doesn't take precedence over your custom domain)

[code]

<sup>Created on 2020-07-21

[2020-07-21 13:44] jonkeane commented on #716
Thanks for all the information and the PR!

[2020-08-24 06:39] maelle commented on #505
@stefaniebutland is this a request for Scott's JSON file or for https://roweb3-hugo.netlify.app/citations/?

I think we can close this issue since this is tackled in the website redesign.

[2020-08-25 01:38] stefaniebutland commented on #505
closing is ok with me

[2020-08-25 03:56] #505 closed

[2020-08-26 09:18] maelle commented on #699
See what the Hugo theme learn has https://learn.netlify.app/en/

[2020-08-26 09:19] maelle commented on #701
will be solved in new design

[2020-08-26 09:19] #701 closed

[2020-08-26 09:19] maelle commented on #338
@jeroen can we close this or do you still home to solve this?

[2020-08-26 09:20] #678 closed

[2020-08-26 09:20] maelle commented on #676
will be solved in new design

[2020-08-26 09:20] #676 closed

[2020-08-26 09:20] #700 closed

[2020-08-26 09:20] #673 closed

[2020-08-26 09:20] #73 closed

[2020-08-26 09:20] #615 closed

[2020-08-26 09:21] maelle commented on #547
fine in new design

[2020-08-26 09:21] #547 closed

[2020-08-26 09:22] maelle commented on #542
![image](https://user-images.githubusercontent.com/8360597/91286167-64c18d80-e78e-11ea-83bb-da8c5dac9ae0.png)

looks clearer in new design

[2020-08-26 09:22] #542 closed

[2020-08-26 09:24] maelle commented on #380
solved in new design

[2020-08-26 09:24] #380 closed

[2020-08-26 09:24] maelle commented on #451
better in new design

[2020-08-26 09:24] #451 closed

[2020-08-26 09:24] maelle commented on #120
will be the case in the new design

[2020-08-26 09:24] #120 closed

[2020-08-26 09:25] maelle commented on #362
in the new design, no tutorials page at the moment.

[2020-08-26 09:25] #362 closed

[2020-08-26 09:26] maelle commented on #221
in the new design slidedecks to be stored as resources in the YAML of events

[2020-08-26 09:26] #221 closed

[2020-08-26 09:27] maelle commented on #288
not in the new design :-)

[2020-08-26 09:27] #288 closed

[2020-08-26 09:27] maelle commented on #299
the new use cases page will feature use cases from the forum so we'll remove the HTML ones

[2020-08-26 09:27] #299 closed

[2020-08-26 09:28] maelle commented on #300
new system in the new design

[2020-08-26 09:28] #300 closed

[2020-08-26 09:29] #147 closed

[2020-08-26 09:29] #30 closed

[2020-08-26 09:30] #10 closed

[2020-08-26 09:31] maelle commented on #110
no collaborators page in the new design

[2020-08-26 09:31] #110 closed

[2020-08-26 09:31] #20 closed

[2020-08-26 09:43] jeroen commented on #338
I don't remember what this was about. But our r-bloggers feed works?

[2020-08-26 09:51] maelle commented on #338
it works, you were just annoyed it has a suffix :joy:

It also works on the new website https://roweb3-hugo.netlify.app/rbloggers/index.xml

[2020-08-26 09:51] #338 closed

[2020-08-27 03:23] #333 closed

[2020-08-27 03:28] stefaniebutland commented on #509
issue addressed in new site https://roweb3-hugo.netlify.app/donate/

[2020-08-27 03:28] #509 closed

[2020-08-27 07:35] maelle commented on #218
@stefaniebutland at the moment would you direct people to the discussion forum if they said they had an idea/request for a package?

If so we might want to retire the wishlist?

[2020-08-27 23:59] stefaniebutland commented on #218
I have a draft plan, discussed with Karthik and Scott (I think), to move wishlist to a new forum category. And yes, would need triage to see if anything should be carried over.

We will add it to Contributing Guide.

Dealing with this after Sep 13

[2020-09-08 08:58] maelle commented on #554
we'll start a new repo for the new design

[2020-09-08 08:58] #554 closed

[2020-09-08 08:59] maelle commented on #178
we'll start a new repo for the new design

[2020-09-08 08:59] #178 closed

[2020-09-08 09:01] #304 closed

[2020-09-08 09:04] #664 closed

[2020-09-08 12:16] #677 closed

[2020-09-11 08:44] mskyttner opened #725 "No packages displayed on https://ropensci.org/packages/"
I was looking for bibliometrics related packages from ROpenSci and tried w latest firefox and chromium to get the web page at https://ropensci.org/packages/ but it seems that the list of packages does not display. I guess the table is supposed to display when the page has loaded, since I didn't find any "Search" button? I checked with my desktop machine and Android phone.

I can get the list with

[2020-09-11 10:17] maelle commented on #725
@mskyttner yes my fault I broke the status string in the JSON so you'll have to uncheck the active repos box. it should be fixed soon, sorry!!

Now you might prefer looking at packages on the new website (to be launched soon) https://roweb3-hugo.netlify.app/packages/all/ (feedback welcome!)

[2020-09-11 11:31] mskyttner commented on #725
No worries, just sending this in case others were running into it, for my own part I found what I needed (refsplitr, europepmc) through the JSON file with:

[code]

[2020-09-11 11:52] maelle commented on #725
cool! I hope search in the website itself will be nice to use but in some cases exploring the data locally might help indeed.

If you end up using the packages you found and have time, you can report your use case at https://discuss.ropensci.org/c/usecases/10 btw :-)

[2020-09-11 12:04] #725 closed

[2020-09-14 21:26] stefaniebutland opened #728 "Event attendees not visible on Events page"
Sorry for an roweb2 issue Maëlle.

This event looks ok: https://ropensci.org/events/2020-10-22-rladies-eastlansing/, but [Events page](https://ropensci.org/events/) does not list Brooke and me.

[source](https://github.com/ropensci/roweb2/blob/master/content/events/2020-10-22-rladies-eastlansing.md)

[2020-09-15 06:43] #728 closed

[2020-09-15 06:43] maelle commented on #728
How to motivate me even more for launching the new design: making me see how maintaining two will be difficult :joy: